[2018-05-04 21:07] mikkokotila opened #1 "create docstrings"
The following calls need to have proper docstrings:

- Hyperio()
- utils.lr_normalizer()
- data...

[2018-05-11 13:53] mikkokotila opened #3 "creating a Keras metric from metrics/performance.py"
Right now performance.py works on the level of the mainline Hyperio program, and outside of Keras. This means it's not available at epoch level and therefore, is also not included in Keras reporting (the history object) or is not available to be used for EarlyStop or other callbacks. Once the exact same scoring functionality works as a Keras metric, then this is is resolved :)

[Keras Metrics](htt

[2018-05-12 18:35] mikkokotila opened #4 "ExceptionHandling for common input related cases."
1) An example of this would be when the user is not inputting the number of neurons on the output layer to hidden_layers() dense layer generator.

2) ValueError: Could not interpret optimizer identifier: <class 'keras.optimizers.Adam'> comes when no lr values are included in the scan, and where optimizer=optimizer['params] need to actually have the () behind it.

3) raise IndexError("single positi

[2018-05-12 19:59] C0NTRIBUTE opened #5 "The TypeError handling in scan.py swallows important messages"

[2018-05-13 14:15] C0NTRIBUTE opened #6 "remove absolute import paths entirely"
These do not seem to work in Windows.

[2018-05-14 07:10] C0NTRIBUTE opened #7 "Reporting of loss and accuracy"
This is now handled in a way where both accuracy and loss are reported in terms of the peak epoch, which will automatically result in having a very high loss because it tends to report the first epoch loss. As an intermediate solution maybe can check the string label in the dictionary, and it it contains loss, take the minimum, and otherwise take the maximum. Accuracy is harder as it often does no

[2018-05-15 16:27] mikkokotila opened #10 "some issue with shapes"
If you check out the way shapes works (it's directly from Autonomio codes but made to work without the funny function name handling from strings)...it looks like there are some issues definitely. For example stairs just seems to minus 1 from the previous. So if first layer is 64, next is 63, 62 and then 61...and then last is 1. If you check the https://coveralls.io/builds/16994055/source?filename=

[2018-05-18 20:47] mikkokotila opened #11 "allow use of generators with fit_generator()"
It seems that the only thing that needs to change is the way validation split is now handled internally. Two options:

- add a parameter "use_generator=True"
- detect the type of the validation_data parameter

[2018-06-05 09:57] Neabfi opened #13 "ImportError: cannot import name 'early_stopper'"
I'm trying to follow the notebook but I have the following issue:

[code]

[2018-06-06 08:13] mikkokotila commented on #13
What Python version are you on?

    python -V

[2018-06-06 11:59] Neabfi commented on #13
Python 3.6.5

[2018-06-06 12:28] mikkokotila commented on #13
Ah ok I see what's going on. The Notebook is raising the error because it's still referring to the old package name which is 'hyperio'. To use that notebook you want to:

`pip install talos
`
And then replace all the hyperio/hy references with talos.

Thanks for raising this, I will clean up the Notebook as well and replace with a new one.

[2018-06-06 12:29] #13 closed

[2018-06-06 12:30] mikkokotila opened #14 "fix the references in the Iris notebook"
It's still referencing to hyperio (the initial name for the package).

[2018-06-06 12:30] mikkokotila commented on #13
Created #14 regarding the Iris Notebook update.

[2018-07-01 13:09] margaro95 opened #15 "Optimizing Leave One Out CV with Talos"
Hi!
I have a very little dataset consisting of 59 images of medical data.
I am classifying them with a Keras model of six layers. With such a little dataset, I have to use Leave One Out cross validation, being my objective function the accuracy obtained not on one run of the cross validation but *the mean* of all the 59 runs of the cv (I train 58 images, I test the first image; and so on with the

[2018-07-03 10:00] mikkokotila commented on #15
Do I understand correct that what you do is train the data with the 58 always leaving one out, and then test with the one image that left, and repeat that process total of 59 times always starting new and then in the end take the result e.g. 48 out of 59. Is that correct?

[2018-07-03 10:11] margaro95 commented on #15
Absolutely correct.
I always train 58 images and test the image that in that run is not on the train set. I do that 59 times (one for each image) and my accuracy would be the mean of accuracies

[2018-07-04 09:01] mikkokotila commented on #15
Thanks for clarifying. How do you manage the process currently? Can you share the code that you use for running the experiment. This is not a use-case that had been considered out-of-the-box but it might be very simple to do it, happy to give it a try if you share your code.

[2018-07-04 15:18] margaro95 commented on #15
The code is the following. Just a normal keras routine. The optimizer should completely run the while loop for every point defined in the grid by talos.

[code]

[2018-07-10 10:07] valekar commented on #11
Any update on this functionality? Also please do let me know if you need any help on this functionality. I will be glad to help you out.

[2018-07-10 12:55] mikkokotila commented on #11
@valekar If you want to take a stab at it and make a PR, I'd be more than happy :)

[2018-07-10 13:49] valekar commented on #11
@mikkokotila Sure! I will give it a shot.

[2018-07-12 21:53] ClarkN3 opened #16 "Reporting() seems to fail"
no matter what I change in the parameters i get
"TypeError: include and exclude must both be non-string sequences"
which i assume is cause by rows containing strings such
"<class   'keras.optimizers.Adam'>"
is this due to me using my own Adam optimizer?
other columns include

kernel_initializer
activations
losses

..so on

[2018-07-13 08:11] mikkokotila commented on #16
Could you post the whole trace / error message and also the code it results from.

[2018-07-13 08:12] mikkokotila commented on #16
To avoid doubt, Reporting() is intended to be used only once you've already completed a scan and have a .csv file with the results of the scan.

[2018-07-15 17:14] mikkokotila commented on #16
It seems to have something to do with the values in the columns that are detected to be float. Can you paste a some rows of the CSV or dump in pastebin or similar and I will try to replicate in my end. I think it should be something straightforward to resolve but might require a few more rounds of back and forth. Thanks.

[2018-07-15 17:41] mikkokotila commented on #15
Sorry for the delay in getting back to you on this. It seems that this is not going to work without some modifications. I'm not sure yet what those modifications would be (as I don't want to change the main line code for this) so I'm going think out load here a little first.

It seems that the issue is in the way a typical model is measured; one model permutation yields one accuracy. Here the case

[2018-07-15 17:46] mikkokotila commented on #15
...maybe it will be possible to do this in a way where the only thing that changes is a parameter in the Reporting() where the .csv log is processed in a way that makes sense to this use case.

[2018-07-15 18:31] ClarkN3 commented on #16
https://pastebin.com/XVW2HiTg

[2018-07-15 18:53] mikkokotila commented on #16
Thanks. It seems that the .csv you have is not comma separated (at least that is what I see in the dump). Is that the case and if it, are you doing any manipulation to the file or that is what you get from Talos?

[2018-07-15 23:03] ClarkN3 commented on #16
Sorry, I opened it in excel without thinking

https://pastebin.com/iudEfu89

[2018-07-19 03:33] x94carbone opened #17 "Best model is not saved properly"
This is referenced in e6ecae7a74d9912bc66a14607e9e87b9a072c2ab but seems to not have been resolved. I also cannot find the commit where `Scan.py` was changed to remove the additions from that commit. Figured it made sense to open an issue about it.

Current implementation runs successfully:

[code]

But when attempting to load

[code]

raises

[code]

Has this been resolved already and I'm just mi

[2018-07-19 12:49] x94carbone commented on #1
I'm currently writing the doc string for the `Scan` class (which to my understanding is the newer version of `Hyperio`). The class has a ton of methods that seem to just be redefinitions of the parameters, so for now I'm not going to write the doc string for the methods, just the parameters. I think it makes sense to refactor `Scan` before doing so.

`utils.lr_normalizer()` does not seem to exist

[2018-07-20 19:19] mikkokotila commented on #1
@x94carbone That is wonderful!

re lr_normalizer() that's now [here](https://github.com/autonomio/talos/blob/master/talos/model/normalizers.py)

Thanks so much and look forward to the PR! :)

[2018-07-20 19:51] mikkokotila commented on #17
@x94carbone I worked this out but found that there was quite a bit of discrepancy in the way various sources said was the right way to handle it, and did not have time to test validity of the implementation I did properly so I left it out for now. There is also the case of how to really handle this beyond just the code implementation.

For example you might end up with 10-20 configurations with cl

[2018-07-21 02:45] x94carbone commented on #17
@mikkokotila Thanks for the response! I have some ways in mind that could be used address these concerns as well. They pertain closely to my current research. What it appears you're talking about is a more insightful way of picking the best hyperparameters (HP). I have two ideas about this depending on how far you're willing to take this.

First, the first step could be exactly what Talos already

[2018-07-21 02:47] x94carbone commented on #1
My pleasure! I'm happy Talos exists. It has been very helpful to me and with your permission, obviously, I think I might want to build more on top of it.

There are some things I'm still confused about (hard to track down where certain attributes end up when they're passed to other functions) but we can figure that out in the PR.

[2018-07-21 19:29] mikkokotila commented on #17
For the actual issue, I will remove all the redundant codes.

[2018-07-21 19:34] mikkokotila opened #18 "adding evolutionary algorithm optimizer"
@x94carbone thanks very much for suggesting this. Any contributions you would like to make in this respect are definitely most welcome.

Do you already have an idea what signals we would need to feed into an evolutionary algorithm and if yes, in which format those signals are needed out of Talos as part of the Scan() stage.

[2018-07-22 05:23] x94carbone commented on #17
@mikkokotila Sounds good. I absolutely agree on all points. I'll comment in #18 about evolutionary algorithms and elsewhere where necessary.

[2018-07-22 15:33] x94carbone opened #19 "Suggestion: add a progress bar to Scan()"
Perhaps [tqdm](https://github.com/tqdm/tqdm)?

[2018-07-22 18:08] mikkokotila commented on #19
Ok great, I will add that. I'm using it in another project, and I think it should be fairly simple. I also have a working implementation of live updating plot that shows progress per epoch so will include both in the same update. It seems the progress bar should be a parameter so it can be turned off (maybe on by default?).

[2018-07-22 18:14] mikkokotila commented on #18
I think that Talos should meet both needs; a single lowish end laptop and multi GPU environments. The evolutionary algorithm would fall under "reduction" methods in the current architecture. My thinking is that there would be several methods to choose from. In other words, it would be totally ok to have something that is restrictive in terms of machine spec.

A package that runs on top of Talos so

[2018-07-22 18:55] x94carbone commented on #1
Hi, I've written doc strings for `Scan` and `Reporting` (less for `Reporting`!).

I am a bit confused as to why `lr_normalizer()` is necessary. For the optimizers listed there (mostly Adam and its derivatives) people usually don't change the default learning rates. Might I ask what we're normalizing them with respect to and why?

Once I do that I'll open a PR and we can work through it some more!

[2018-07-22 19:10] mikkokotila commented on #1
Regarding lr_normalizer() it handles the case where you want to scan through learning rates but have more than one optimizer which has its default learning rate in a different order of magnitude. This way we can just key in one value, and have it effect different optimizers as a multiplier rather than an absolute value. For example SGD is in the order of 0.01 were as RMSprop is in the order of 0.0

[2018-07-22 19:12] mikkokotila commented on #1
Really great regarding the doc strings! :) I'll do Reporting after your PR.

[2018-07-22 19:31] x94carbone commented on #1
Ah makes total sense. I'll add that to the documentation!

[2018-07-22 20:52] x94carbone opened #21 "Suggestion: allow custom import of cross-validation / train data sets instead of a split"
If one wishes to augment their training data only (which is good practice) then this will just make the process easier.

We could add a data augmentation program into Talos, but since people augment their data in a variety of ways this could take time.

The first option is actually very easy. I will try to implement it.

Edit: I should clarify that this would be an optional input. Not like you nee

[2018-07-23 03:59] x94carbone commented on #19
Sorry missed the question when I read your comment the first time. Yes I think it is standard to have a toggle for it. There must be an easy way to do that with tqdm if that's what you're using. Its important that you mentioned this since some notebooks (Google Colab...) do not play nicely with tqdm!

[2018-07-23 14:30] margaro95 commented on #15
(Sorry for answering this late too)
Definitely, to go through permutations sample by sample is by far the easiest way to implement this feature without changing the main structure in the code.

Everything comes at a price. In the end, we would end up with 59 models most definitely overfitted to each one of its alternating validation image. We could trust our 59 models, show them our test image (th

[2018-07-23 20:36] mikkokotila opened #22 "add CONTRIBUTE.md"
Contributor guidelines are totally missing.

[2018-07-24 13:22] x94carbone commented on #22
So after many terribly organized private repos, I have been inspired to think about this in the context of my own personal workflow and also for collaborating. @mikkokotila I'm sure you've also thought about this, but I figured why not have it here as a comment as well. Here's a proposal for the general workflow for a user, inspired by [Vincent Driessen's blog post](https://nvie.com/posts/a-succes

[2018-07-24 14:31] x94carbone opened #24 "Add git-hook to prevent direct pushes to master"
We can add this as optional code for contributors to download to prevent accidental pushes to `master `(or even direct commits on `master`) from the command line. There is a way to install it on remote but I don't know how. I've made this mistake before on some of my personal repositories where it didn't matter, but here it will!

I have the code lying around somewhere. When I find it I'll post it

[2018-07-24 15:19] x94carbone commented on #24
Probably not necessary, actually. Easy command line implementation (currently untested but I have no doubt this'll work). This should prevent all direct pushes to `autonomio/talos` entirely, which is what I wanted.

`git remote set-url --push upstream DISABLED`

See [here](https://medium.com/@pgore/prevent-accidental-git-push-in-a-simple-step-55545d7821a5)

[2018-07-24 15:19] #24 closed

[2018-07-24 18:32] x94carbone commented on #19
I think I understand. There should be ways to manually update the progress bar. Here's an [example](https://stackoverflow.com/questions/45808140/using-tqdm-progress-bar-in-a-while-loop) (I didn't test it yet).

I can look into this in more detail sometime later as well!

[2018-07-24 19:32] horeilly opened #25 "Continuous metrics not working"
Hi,

When using a continuous metric such as `mse`, `Scan` will throw an error when its `_run` method is called. This happens when it calls `epoch_entropy` from `talos.metrics.entropy` which requires `val_acc` to be in the history dictionary. This only happens if `accuracy` is used as the metric. For example, if the selected metric is `mae`, `val_mean_absolute_error` will be in the history dictiona

[2018-07-24 19:34] mikkokotila commented on #25
Thanks for raising this. I should be able to take care of this tomorrow (Wednesday).

[2018-07-25 15:51] nbarrios1337 opened #26 "talos.Scan() returning UnboundLocalError when running"
When running the Scan() method with the following parameters:

`t = talos.Scan(
    x=x,
    y=y,
    model=model,
    params=p,
    dataset_name="ECG Classifier",
    experiment_no='10'
)`

and returns the following error:

From what I can tell, the seeming lack of a return method in my model function is triggering the first error, however the model function does have it:

[code]

I'm not sure wh

[2018-07-25 16:05] x94carbone commented on #26
I have run into this error before and at once point but was never able to quite pin it down. I don't think there's anything wrong with your code. @mikkokotila could this be due to some improper error handling?

[2018-07-25 16:34] horeilly commented on #25
Sounds great, thanks!

[2018-07-25 17:40] mikkokotila commented on #26
@x94carbone this is generally a result from the model object not being passed into Talos properly. The most common case is where one forgets to pass it in return, but I can see you are doing it here. What is the dimensionality of the data you are using and is it all floats/ints ... I will replicate in my end and see.

[2018-07-25 18:03] nbarrios1337 commented on #26
the data (x train and x val) is in a shape of (36, 76800, 1) and the labels are just a 1D array of size 36. The data is a 36 separate 76800-long vectors with each data point an array of length 1, containing a float. The labels are either 0 or 1.

[2018-07-25 19:11] mikkokotila commented on #26
@nbarrios1337 thanks. Can you confirm that I got the dimensionality right. I might not have understood it correctly.

[code]

...do you get the same shape for your x and y?

Additionally, what is this doing:

`input_shape = (10*60*fields.get('fs'), 1)`

[2018-07-25 19:13] mikkokotila opened #27 "when all labels are 0 last_neuron() gives error"
This is really not an issue in the sense that the case where all labels are 0 seems not to be relevant for training a model, but the error might be good to handle in a meaningful way (which warns about all labels being 0).

[2018-07-25 20:07] mikkokotila commented on #26
@nbarrios1337 thanks.

The culprit is the way you call hidden_layers()

`
hidden_layers(mdl, params['hidden_layers'], params)
`

but it should be:

`hidden_layers(model, params, last_neuron)`

Note that last_neuron is always the same i.e. these input parameters are the same for every permutation.

This case is consistent with what I had witnessed in the past; when this message comes, it means that

[2018-07-25 20:07] #26 closed

[2018-07-25 20:16] mikkokotila opened #28 "handling cases where something is wrong with model"
It seems that always when there is the message:

`UnboundLocalError: local variable '_hr_out' referenced before assignment`

...there is an issue with the model. The issue is that the error on the model level is kind of swallowed by this, so indeed it is related with the way errors are handled. This could be a major annoyance as the user thinks something is wrong with the backend, even thought its

[2018-07-25 20:24] x94carbone opened #29 "Test script not working on my machine (maybe not supposed to?)"
Just wondering if the test script is supposed/designed to work on anyone's machine in particular.

For instance, running it on mine (just trying to debug a bit before pushing to my fork), I get:

[code]

Sorta strange. The CPU info it spits out is normal for my machine. Not used to a seg fault though. I've been looking through the test script to see where this might pop up. It seems to have to do

[2018-07-25 20:38] mikkokotila commented on #29
I've never seen the "segmentation fault" before.

Given the description, I wonder if it has to do with the number of permutations? For example if you remove the first test, will it run ok for the second?

I've seen similar issues in the past with looping in general (like looping through Keras models). How about if you restart the vm / machine you are running from?

When it comes to...

`Your CPU
s

[2018-07-25 20:38] x94carbone commented on #29
Yeah I just tested this on my own fork and Travis has no problem with it. Interesting.

I guess this is just a curiosity at this point. Why does the test script build fine on Travis, while failing on my computer when Talos seems to work seamlessly on its own...?

[2018-07-25 20:49] x94carbone commented on #29
This is so bizarre...

Ok so I removed the entire first test and added a helper print out in `Scan`. In the `_run(self)` function specifically:

[code]

and end up with this for the second Iris test:

[code]

Still seg faults after 4 executions. Weird.

[2018-07-25 20:53] mikkokotila commented on #29
Ok that's "good" ... I was guessing that might happen. If you restart your machine, and then create a new virtualenv, do you still get the seg fault?

[2018-07-25 21:10] x94carbone commented on #29
I'll try this soon. Humor me though, I'm still not so comfortable with this stuff just yet. The process I should take is:

1. Create new anaconda VI
2. `pip install -r requirements.txt`
3. `python setup.py install`
4. `python test_script.py`

Can you confirm? Thanks very much for the help! 👍

[2018-07-25 21:35] x94carbone commented on #21
Almost done with this. Just need to implement the unit testing for it.

[2018-07-25 21:43] nbarrios1337 commented on #26
I just realized there may have been some confusion.

I didn't know talos already implemented a hidden layers method. I had actually made my own, that creates convolutional layers.

[code]

Mimicing the for loop used in the hidden layers method you've implemented in talos, I have:

[code]

I've changed the model method to match the new parameters. I'm not sure what you meant to do with the last_neu

[2018-07-25 22:10] x94carbone commented on #26
Just a hunch: are you certain there's not an error with the model itself? Meaning, independent of Talos, does it compile properly?

[2018-07-25 23:20] x94carbone commented on #29
I did exactly that and the script ran with no problems. In summary, my problem not Talos'.

[2018-07-25 23:20] #29 closed

[2018-07-26 10:04] #1 closed

[2018-07-26 10:07] mikkokotila commented on #4
It seems that first it is more important that nothing is swallowed (like now with _hr_out in scan()) so that the actual issues (like user model not compiling) are clear.

[2018-07-26 15:49] mikkokotila commented on #29
@x94carbone Unfortunately TensorFlow comes with issues with resource management, both memory and GPU. Given what it does, I think this is expectable though.

Usually things are resolved with re-installing both Keras and Tensorflow directly from the respective repos, unless it's resolved with a simple vm reset. I think that at some point it's worthwhile to create a "debugging" script for both conda

[2018-07-26 15:51] mikkokotila commented on #7
This is now somewhat handled.

[2018-07-26 15:51] #7 closed

[2018-07-26 16:01] mikkokotila commented on #16
@ClarkN3 The file you had provided opens just fine with ta.Reporting() on my machine.

Could you try the following:

1) save the pastebin dump to file test.csv and

2) create python virtualenv

[code]

3) open python console
[code]

4) run the code in the python console

[code]

Then if it works, can you try the same but now in conda (as I see you are running on conda) so we eliminate the most obv

[2018-07-26 16:02] mikkokotila commented on #25
Closing this now. Feel free to open a new one if you still have issues.

[2018-07-26 16:02] #25 closed

[2018-07-26 16:16] aronwc opened #30 "search_method='linear' throws runtime error"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-07-26 16:26] aronwc opened #31 "first result missing from csv file"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-07-26 16:39] mikkokotila commented on #31
Thanks, this makes sense. It is a remnant from the past, and it should be fixed as it may effect use-cases where you do a small number of runs that take a long time.

[2018-07-26 16:47] aronwc commented on #31
Hi @mikkokotila:
To be clear, I think this will affect all use cases. The reporting will ignore the first experiment run, which could possibly be the best. It seems high priority, imho.

Otherwise, thanks for a great library!

[2018-07-26 16:51] mikkokotila commented on #31
@aronwc I'm glad you enjoy it :)

Sure I understand. What I mean is that generally the workflow involves scanning through hundreds or thousands of options, and at the end of the run you might have 10-20 that are very close to each other. But ok, I get the point that unless we have the result, we can't know (it could be notably better than others)..so I will prioritize this. Most likely tomorrow Fr

[2018-07-26 16:57] aronwc commented on #31
gotcha, thanks!

[2018-07-27 03:09] x94carbone commented on #30
I was able to reproduce your error and confirm. @aronwc thank you for finding this.

@mikkokotila would you like me to add this to my current PR?

[2018-07-27 03:13] x94carbone opened #33 "Document handling.py"
Needs descriptive doc strings.

[2018-07-27 12:57] #21 closed

[2018-07-27 13:18] x94carbone opened #35 "Contributing and issue templates do not show up in community profile"
See `Insights -> Community`.

For some reason, the `CONTRIBUTING.md` and `ISSUE_TEMPLATE.md` files are not showing up in the Talos community profile.

Not sure if this is a big deal, but maybe the project gets more visibility if these things are detected as completed. Should be relatively easy to fix this, but I don't want to overstep anyone if there's a good reason these are not in the community

[2018-07-27 13:21] x94carbone commented on #3
@mikkokotila I can try to work on this but that second link is broken! Would be good to get a better understanding of what is required before I do anything.

[2018-07-27 17:09] mikkokotila commented on #22
That's really great :) Thanks, will incorporate from here to the file that is online already.

[2018-07-27 17:10] mikkokotila commented on #31
This is now resolved in @dev

[2018-07-27 17:10] #31 closed

[2018-07-27 17:11] mikkokotila commented on #5
This is now resolved in the latest @dev.

[2018-07-27 17:11] #5 closed

[2018-07-27 17:13] mikkokotila commented on #28
The errors are no longer swallowed in the previous way and now the error should show the part of the model that is causing it.

[2018-07-27 17:13] #28 closed

[2018-07-27 17:20] mikkokotila commented on #35
Thanks. Fixed this. Also added a dummy PR template, but need to add proper content still. For code of conduct they just have two options, what do you think? (that's the only open item).

[2018-07-27 17:30] mikkokotila commented on #35
👍 (done)

[2018-07-27 17:30] #35 closed

[2018-07-27 19:44] aronwc commented on #30
@mikkokotila Great, thanks for the quick fix!

[2018-07-28 11:20] mikkokotila commented on #19
@x94carbone re 'Edit' > great. I was thinking like that as well. I think there are two sides to this; something that serves the purpose of terminal and notebook use, and then secondarily for the notebook use only. For notebook it seems that a live updating matplotlib plot is an idea situation as you can also see epoch level updates (and get an idea of how the training takes place which can be real

[2018-07-28 12:46] mikkokotila commented on #27
This is actually fine, and maybe for now it's better to avoid custom error messages all together (up until point where it's completely clear why a given error is caused). Closing.

[2018-07-28 12:46] #27 closed

[2018-07-28 13:55] mikkokotila commented on #33
This seems to be the most confusing part of the code currently, so I've cleaned it up. Basically there are two parts; creating the parameter grid and log (done once), and picking a round configuration (done repeatedly). There is also the third case of reduction, but I'm going to ignore that for now.

I've created a class ParamGrid which handles the first part. Then for the second part we just have

[2018-07-28 14:56] x94carbone commented on #19
@mikkokotila right I totally agree. There's got to be an easy way for the program to detect whether or not its running in a notebook or not. Regardless, since there are some notebooks that don't play nice with these progress bars, we should implement some default behavior first. Something like what you suggested should work great! Particularly, maybe something that constantly overwrites the first

[2018-07-28 15:00] x94carbone opened #37 "Issue template format looks incorrect"
For instance, trying to raise an issue...

<img width="788" alt="screen shot 2018-07-28 at 10 58 04 am" src="https://user-images.githubusercontent.com/26401020/43357823-3b195e4e-9255-11e8-8d7e-0d66687ed34e.png">

I would wager that "How to raise an issue" is not a valid issue format! @mikkokotila I can look into this if you'd like. Let me know what you think.

Note that I've opened this issue by c

[2018-07-28 15:02] x94carbone opened #38 "Should we implement Python 2 backwards compatibility?"
Although it is true that Python 3 is slowly becoming the new standard (at least in my experience), lots of people still use Python 2. Is there anything in the code here that might not be backwards compatible? Keras is compatible with at worst 2.7.

Note this might be as simple as requesting that Travis build with Python 2.7 and then just debugging from a forked origin/dev branch.

[2018-07-28 15:37] x94carbone commented on #37
No worries I've never used them either! 👍

I was thinking exactly that. For instance, one template could be for a bug fix (where we ensure people have the proper version installed, model works outside Talos, etc...). Another could be for a suggestion of a feature (where those checks might not be required). One more for documentation. Etc...

[2018-07-28 15:38] x94carbone commented on #38
Let me know what happens! Also could you elaborate a bit on this?

I'm sorry I just don't know enough about Travis. Specifically what do you mean about Travis being able to deploy once per version? Thanks!

[2018-07-28 15:50] mikkokotila commented on #38
3.7 is not available on Travis looks like, and 2.7 fails on the Cervical Cancer test where spear_reducer() is used. Gives pandas KeyError on val_acc...I'll look into what's causing this...but in other words looks good.

For Travis there is travis.yml where we can simply add the versions of python we want to test with. Then travis will run the procedures for all those versions we list separately. I

[2018-07-28 16:31] mikkokotila commented on #37
Something went wrong this (updated directly to master after making changes to the template). I think it has to do with the way Github.com manages the templates directly from UI (can't use both the Github.com UI way and editing the file way and then committing change). I think it might be best to handle finalizing contribution guidelines and this together (I also need to create FAQ based on the exp

[2018-07-28 16:54] mikkokotila commented on #38
@x94carbone ...by the way are you getting all the build fail notices from the dev-mikko branch to your email?

[2018-07-28 17:08] mikkokotila commented on #33
Ok this is done now and will be included in the next merge I do with dev, which should be tomorrow.

[2018-07-28 17:08] #33 closed

[2018-07-28 17:09] mikkokotila commented on #38
Ok it's resolved now. All tests passing for Python versions:

- 2.7
- 3.4
- 3.5
- 3.6

The corresponding Travis build report [here](https://travis-ci.org/autonomio/talos/builds/409327989).

I will do some QA tomorrow and get it merged with dev. Closing.

[2018-07-28 17:09] #38 closed

[2018-07-28 17:11] mikkokotila commented on #6
This is done and will be included in the next Release update. Closing.

[2018-07-28 17:11] #6 closed

[2018-07-28 17:15] mikkokotila commented on #14
It's a good time to create a few example notebooks / files. Closing this.

[2018-07-28 17:15] #14 closed

[2018-07-28 19:54] x94carbone commented on #37
Sounds good. Let me know if you need any help!

[2018-07-28 19:54] x94carbone commented on #22
My pleasure! Let me know if you'd like me to do anything on this front.

[2018-07-29 13:12] x94carbone commented on #19
We might not even have to make it that complicated actually- I may have been overthinking it. We could implement three options and let the user choose for themselves. 0 for silent running, 1 for progress bar and 2 for raw text output. Maybe that’s a better starting place than detecting the os or if the user is in a notebook. Then once we have that working we can go from there. What do you think?

[2018-07-29 19:12] mikkokotila commented on #37
You're most welcome to help :) Maybe I can take care of the FAQ one, but I will wait once you have the others up and follow the same procedure as you've used in order to avoid the same I had caused now.

[2018-07-29 20:35] mikkokotila commented on #22
This is now done on my dev branch. Should be on dev tomorrow. I've added on CONTRIBUTING.md both blocks as per above under their respective headings. And finished the doc now otherwise.

Closing.

[2018-07-29 20:35] #22 closed

[2018-07-29 20:40] mikkokotila opened #40 "Validator()"
Now that a lot of the issues are handled, I think the next big push is on putting the pieces together for the Validator() i.e what happens after Scan() and that leads to the information that is needed to train the production model finally.

I think that in #17 you had more or less nailed the outline of the approach, and I will follow that for now. We already have an objective measure for classific

[2018-07-29 20:52] mikkokotila commented on #3
@x94carbone I think that would be great. I've fixed the link above.

Right now the performance.py implements a modified version of f1 score that is "better" than regular f1 score in two ways:

- it avoids high score in the corner cases that actually warrant poor scores
- it works exactly the same for both binary and multi-class tasks (this is through dealing with both prediction outputs in the sam

[2018-07-30 12:30] mikkokotila opened #41 "word embeddings fail (fixed)"
On line 232 in Scan() there is the command `K.clear_session()` which as far as I remember is there only for the sake of dealing with the memory leakage problem in old versions of TensorFlow. Using this is not possible to use word embeddings, so I've removed it and embeddings work just fine.

The other thing is that I'm passing the embeddings as a parameter, which is kind of useful as it allows try

[2018-07-30 12:31] #41 closed

[2018-07-30 15:19] mehmettan opened #42 "Documentation"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-07-30 15:59] mikkokotila commented on #42
That's true. I will update the examples. Now you have to use:

[code]

[2018-07-30 16:02] mikkokotila commented on #42
Ok done. This will be updated in the next merge to Master. Thanks for flagging it.

Closing here.

[2018-07-30 16:02] #42 closed

[2018-07-30 18:03] x94carbone commented on #40
Sounds good! I'll try and think about this some more when I can and respond with anything I come up with 👍

[2018-07-30 18:11] x94carbone commented on #3
Yeah that sounds good. I would also at some point like to give the user some freedom to choose a custom metric, although that will be a challenge. I'm not sure I know what you mean by best of class though. Do you mean implementing a multi-class version of precision/recall/f1?

 I'll definitely look into this when I have the time!

[2018-07-31 09:06] AswinkarthikeyenAK opened #44 "self.epoch_entropy.append(epoch_entropy((_hr_out))) UnboundLocalError: local variable '_hr_out' referenced before assignment"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-07-31 09:09] mikkokotila commented on #3
Ah my bad with the choice of words. Basically right now in the world of statistics it seems that f1 gets us close to best possible objective measure, but not quite there yet (because of the corner cases). The corner cases fixed, this seems to be be the best possible way to handle classification tasks. This would naturally then lead to the question of what is the "gold standard" model for continuou

[2018-07-31 09:12] mikkokotila commented on #44
Can you share the whole trace (the list of messages where the error appears) for the error.

[2018-07-31 09:12] AswinkarthikeyenAK commented on #44
Traceback (most recent call last):

  File "<ipython-input-64-9e189a32cb67>", line 3, in <module>
    params = p, dataset_name ='model_data' , experiment_no='1', shuffle = False )

  File "C:\ProgramData\Anaconda3\lib\site-packages\talos\scan.py", line 77, in __init__
    self._null = self._run()

  File "C:\ProgramData\Anaconda3\lib\site-packages\talos\scan.py", line 93, in _run
    self.epoch_en

[2018-07-31 09:19] mikkokotila commented on #44
Thanks. Can you try the latest version:

[code]
You might still get the error after this, but it should be more descriptive and will help to identify what exactly it's wrong (it seems that there some issue in your model). The error message that says _hr_out is referenced before assignment means that 10 times out of 10.

[2018-07-31 09:37] AswinkarthikeyenAK commented on #44
Error [WinError 2] The system cannot find the file specified while executing command git clone -q https://github.com/autonomio/talos.git C:\Users\xxxxxx\AppData\Local\Temp\pip-req-build-7542c4l0
Cannot find command 'git' - do you have 'git' installed and in your PATH?

[2018-07-31 09:38] mikkokotila commented on #44
how did you install Talos initially on your system?

[2018-07-31 09:39] AswinkarthikeyenAK commented on #44
Anaconda prompt.
pip install talos

[2018-07-31 09:41] mikkokotila commented on #44
can you do

`conda install git `

and then try again.

[2018-07-31 09:45] AswinkarthikeyenAK commented on #44
Thanks a lot. It worked now.
I ran the program again.
t = ta.Scan(x = x_train_analytical, y = x_train_experimental,
            model = AE, grid_downsample = 0.01,
            params = p, dataset_name ='model_data' , experiment_no='1', shuffle = False )
Traceback (most recent call last):

  File "<ipython-input-7-9e189a32cb67>", line 3, in <module>
    params = p, dataset_name ='model_data' , expe

[2018-07-31 09:49] AswinkarthikeyenAK commented on #44
-FYI,

This was the working code which I tried to wrap it with talos.
 #Denoising Autoencoder

Input_Experiment = Input(shape=(500,))

encoded = Dense(encoding_dim, activation = activation_function_1,
                activity_regularizer=regularizers.l1(regulariser_value))(Input_Experiment)

decoded = Dense(500, activation='tanh')(encoded)

autoencoder = Model(Input_Experiment, decoded)

encoder =

[2018-07-31 14:17] mikkokotila commented on #44
The issue in your model seems to be here:

`File "", line 8, in AE
activity_regularizer=regularizers.l1(regulariser_value))(Input_Experiment)`

Maybe you can try without that line and see what happens (as that's what's causing the error).

[2018-08-01 08:43] awhillas opened #45 "Abstract interface to optimisation (suggestion)"
Have you guys looked at Bayesian Optimisation? There is already a library you could integrate with
https://github.com/shibuiwilliam/keras_gpyopt

I assume your just doing grid search but if you abstracted out the optimiser to an interface, so one could choose Generic Algorithms or Bayes or X, Talos could become the Keras of hyper-parameter tuning :)

[2018-08-01 09:30] mikkokotila commented on #45
Thanks a lot @awhillas. Your thinking sits very well with the roadmap. I will look into this and see how it could be best integrated. Looks like implementing GryOpt into Keras workflow is straightforward.

[2018-08-01 12:04] wolhandlerdeb opened #46 "can't import Hyperio"
I'm not succeeded to import hyperio
I would enjoy if you will explain how to do it.
Because I am writing like you've done:
sys.path.insert(0, '/Users/mikko/Documents/GitHub/hyperio')
import hyperio as hy
and it didn't work

Thanks

[2018-08-01 13:12] x94carbone commented on #45
@awhillas That looks really promising. Thank you for sharing this! By all means if you have any other insights or suggestions we'd be happy to hear. 👍

[2018-08-01 13:15] x94carbone commented on #46
Hi @wolhandlerdeb, I'm not exactly sure why, but I _think_ that the hyperio package is deprecated and so it might cause you issues in unexplained ways. @mikkokotila is the creator/maintainer of that package and will be able to help I think!

[2018-08-01 14:38] wolhandlerdeb commented on #46
Thank you, I will try to talk with him
And thank you also for your code!

2018-08-01 16:15 GMT+03:00 Matthew Carbone <notifications@github.com>:

[2018-08-02 10:39] giacomotontini opened #47 "Issue with shaping"
I keep getting this tedious error:

Tried reshaping in every way but the error continues to come over... In my project I was using batch generator and fit_generator as model training method but this isn't yet supported by this library, so I'm trying to use Talos without them

[code]

Shapes output:
X=> (39291, 21)
Y=> (39291, 3)

[2018-08-02 13:25] x94carbone commented on #46
No problem! @wolhandlerdeb don't forget to post the full error message. It will be very hard to help you unless you do that!

[2018-08-02 13:29] x94carbone commented on #47
Is GRU a 1D CNN? If so, Keras is going to expect your input to look like `(m, n, h)`, where `m` is the number of training examples, `n` the number of features, and `h` the number of channels. I see you tried something similar, but it can be fickle. You might need to play with the order.

[2018-08-02 16:54] giacomotontini commented on #47
Well, in that case 39291 are datetime series of measurement with 6 parameter each (temperature humity etc)
It's not CNN but a RNN, so m stand for batch number(samples), n for sequence length, and h for feature... I can't understand why it need the number of samples when I don't have a batch generator, so it is just 1 sequence with tons of records

[2018-08-02 17:32] x94carbone commented on #47
I apologize, but I'm confused. The batch size is a parameter in the training step, it indicates after how many samples we update the gradient, if I remember correctly.

An RNN? Meaning recurrent neural network? I'm not too familiar, so I'd have to see the exact form of the input to help you. That said, you might have better luck posting the issue on the Keras repo page, since this isn't a problem

[2018-08-02 19:32] mikkokotila commented on #46
@wolhandlerdeb I seriously need to clean up the old demo codes. Sorry for the inconvenience.

For a very basic example, could you use the one [README](https://github.com/autonomio/talos) instead.

Also can you point  to the file where you found the hyperio artifacts. I'll try to clean all those up in the next push to master.

ps. the code fragment you had shared loads a package from local. You wou

[2018-08-02 23:29] x94carbone commented on #19
I have another idea actually. We don't need a progress bar, we can do this with the Python 3 print function if we're clever. Backwards compatible via `from __future__ import print_function`, I think. I will give this a shot at some point soon.

[2018-08-03 07:00] mikkokotila commented on #19
That would be good if we could do it very simply! :)

[2018-08-03 07:39] giacomotontini commented on #47
From keras doc  GRU (and any other Recurrent Neural Network layer) need an input tensor with shape (batch_size, timesteps, input_dim).
The batch size is the number of samples within a batch; timesteps how many records in each samples and input_dim is basically the amount of feature.

Without talos it works pretty well with the same input shape

[2018-08-03 07:49] #47 closed

[2018-08-03 09:59] giacomotontini commented on #46
I'm able to import it, but as soon as I call `r =  hy.Reporting('first_test_1.csv')` I get this error `AttributeError('Can only use .str accessor with string values, which use np.object_ dtype in pandas',)`

CSV file records looks like this one
`25,0.06322101092217229,0.7361323093715818,0.06789723856233505,0.7192952721229705,128,1,50,25,0.12,<class 'keras.optimizers.Adam'>,<function mean_absolute_

[2018-08-03 10:01] mikkokotila commented on #46
@giacomotontini can you use` import talos as ta` and then ta.Reporting().

[2018-08-03 10:03] giacomotontini commented on #46
Thank you so much! It works

[2018-08-03 11:10] #46 closed

[2018-08-03 19:40] x94carbone commented on #44
This is resolved in the latest version of master, correct @mikkokotila?

[2018-08-03 19:48] x94carbone commented on #40
Ok so there are a couple things I've been thinking about, and a few layers of computational complexity to worry about. I'll elaborate.

We cannot really confidently choose the best HP data point based on Talos' current state. It certainly works but perhaps not to the degree some users would want. The reason is two-fold. Consider a data set and a train/validation/test split.

- First (assume testin

[2018-08-04 13:56] valekar commented on #11
@sim-san I did not get much time to look at it. So it might take some time to implement this feature. I am still working on it

[2018-08-05 16:54] mikkokotila commented on #40
I agree with everything you say above. Let's figure out the optimization layer first, and then move to validating. With this in mind, I'm working on a major rehaul / refactoring of the codebase so that it is less anxiety inducing to make major changes. Scan() is already completely cleaned, the param handling is completely rebuilt, as is reductions. These would be the three things that play some ro

[2018-08-05 16:55] mikkokotila commented on #44
@x94carbone the error message yes, we no longer swallow the actual error message. Closing here.

[2018-08-05 16:55] #44 closed

[2018-08-05 17:01] mikkokotila commented on #45
I think generally it would be very useful to create a list of options where we can use as input the experiment log format where we have an objective metric together with a hyperparamater configuration of n parameters. The current architecture makes it very easy to (within set intervals) analyze what is already known as a fact and then use that to optimize the remainder of the experiment, and keep

[2018-08-05 17:02] mikkokotila commented on #4
I think this is better closed for now. Things work well the way it is, and there are very few of these error messages in regular use.

[2018-08-05 17:02] #4 closed

[2018-08-05 17:03] mikkokotila commented on #11
@valekar let me know if you need any pointing out / advice regarding this.

[2018-08-05 17:05] mikkokotila commented on #17
The artifacts were cleaned from the current version.

The wider discussion continues in #40 so closing here.

[2018-08-05 17:05] #17 closed

[2018-08-05 17:05] mikkokotila commented on #40
This is related to #17 where some additional comments can be found.

[2018-08-05 17:06] mikkokotila commented on #19
I've added tqdm which is on by default. Together with some notable changes, you can find it in dev-mikko, and hopefully tomorrow in daily-dev as well (will have to do more testing, and also add some unit tests).

[2018-08-05 17:12] mikkokotila opened #48 "On Clearing the TensorFlow graph [NOTICE]"
This has to do with several things:

- the way the iterations become slower in some cases as the scan goes on (resource handling in tf)
- the way a saved model can be used for predictions later (not relevant currently)
- the way some cases require the graph to NOT be cleared (eg. embeddings)

This was previously on by default without the ability to turn it off in Talos. Now it's made into a parame

[2018-08-05 17:15] mikkokotila commented on #16
because I could not replicate this and did not hear from you, closing this now. Let me know if it's still an issue and I'll reopen.

[2018-08-05 17:15] #16 closed

[2018-08-05 17:15] mikkokotila commented on #18
This is connected with #40 and #45

[2018-08-05 18:00] x94carbone commented on #40
That is awesome news. I stuck a `TODO` in `Scan()` for precisely this reason. Can't wait to see it!

Fantastic! We may want to begin linking things in the wiki or something 👍

Please do. It really lowers the barrier of entry into this kind of work which I feel is incredibly important to the scientific community. Lots of smart people out there who want to do ML but don't have the firepower to train

[2018-08-06 18:53] mikkokotila opened #50 "benchmark datasets (for examples)"
Would be good to have a few benchmarks datasets where we know the "gold standard" result, and then use Talos with a very broad starting boundary and using the reducer approach to show how fast it is to get to the "gold standard" result assuming poor knowledge of hyperparameters as a starting point.

@x94carbone do you have suggestions for such datasets?

[2018-08-06 19:56] x94carbone commented on #50
I unfortunately do not. However, I know someone who might. Will get back to you 👍

[2018-08-07 14:54] C0NTRIBUTE opened #51 "WINDOWS ONLY >> TypeError: '>' not supported between instances of 'numpy.str_' and 'float'"
For some reason when the parameters are handled in Windows, they take the type of numpy.str_ as opposed to 'float' in linux based systems. This then creates problems but strangely enough only when hidden_layers is invoked.

[code]

[2018-08-07 15:55] mikkokotila commented on #51
This is resolved by changing the parameters to:

[code]

Note the addition of 'first_neuron' and 'weight_regulizer'. I'll create an issue for handling this in a more meaningful way than currently  (as there is no indication of what is wrong with inputs).

Closing here.

[2018-08-07 15:56] mikkokotila opened #52 "Handle the hidden_layers case where required hyperparamaters are missing"
See #51 for more details.

[2018-08-07 16:03] #51 closed

[2018-08-07 23:43] x94carbone commented on #3
@mikkokotila sorry for the late response!

Ok so I'm still confused about something. In `performance.py` it appears that what's being used are just the usual F1 and beta-F1 scores. What's modified about them? I could just be missing this.

As for a trustworthy metric, that is something I could possibly help with, since I understand that right off the bat. For multi-class classification, we will wa

[2018-08-09 15:20] valekar commented on #11
@mikkokotila Sure! I would let you know if I face any difficulties

[2018-08-09 15:33] xkrieg commented on #11
Hello, I am (relatively) new to deep learning and am very interested in using Talos for hyperparameter optimization on my keras models. I use fit_generator exclusively due training with very large datasets that will not load into RAM. I am very happy that this issue is getting some attention and that development is in the works. @valekar, I am wishing you the best as you work on this feature and a

[2018-08-09 17:00] x94carbone commented on #3
Bumping this.

@mikkokotila let me know if you can clarify when you have the time! Thanks! 👌

[2018-08-09 19:25] valekar commented on #11
@mikkokotila,

I had few questions.

1. In the code, I noticed that there is this “model” folder, with layers.py code, we can create as many
    number of hidden layers as you want. So do you want me to still keep this functionality?

2. How do you want me to proceed on writing the code for your project? Can I create files or do you
    want me to add in the existing files?( I see that if I try to

[2018-08-09 19:27] valekar commented on #11
@xkrieg Thanks!

Yes this is a really important functionality that needs to implemented. I will try to finish this as soon as possible. Hopefully :)

[2018-08-09 21:38] x94carbone opened #54 "Visualization bug"
I noticed something with the `Reporting` class. I'm not sure if `reporting.data` is supposed to print cleanly, but it doesn't for me:

<img width="686" alt="screen shot 2018-08-09 at 2 17 46 pm" src="https://user-images.githubusercontent.com/26401020/43927251-ef17e2ae-9bfa-11e8-96ad-8b3e96ebf251.png">

The standard output looks like this

[2018-08-10 12:33] mikkokotila commented on #3
There are two sides to this. First is "why it's important to have as much of unified metric across all experiments as possible?". My goal would be to have one day a database of millions of experiments all measured against a single objective metric. Currently this lives in the master log, which then users could choose to make as a contribution to the open database. It's important to note that here

[2018-08-10 12:40] mikkokotila commented on #11
@xkrieg thanks so much :) Regarding your questions above:

1. yes we need to keep that functionality ideally, but if it becomes really painful for some reason, we could have fit_generator initially work without it (i.e. the user needs to explicitly declare hidden layers and have no option to use those as an optimization parameter)

2. You could read the [contribution guidelines](https://github.com

[2018-08-10 14:35] x94carbone commented on #54
I think we could but if you’re refactoring Reporting we might as well wait until you’re done with that. Is there any reason to merge sooner?

[2018-08-10 14:38] mikkokotila commented on #54
Ok great, yes I think it's good we merge now first. For reporting I'm actually writing it from scratch on the basis of what I found was useful. What do you think would be useful features to add in it?

[2018-08-10 17:10] valekar commented on #11
@mikkokotila  Thanks!

[2018-08-10 18:50] x94carbone commented on #54
@mikkokotila Definitely a few things from my experience with it that I would recommend.

- Allow for the option to sort by different quantities (validation accuracy, validation loss, training loss, etc.).
- Definitely let the user easily trim the columns. In other words, maybe we don't care about anything other than the validation accuracy. Therefore, we can let the user easily not display the tra

[2018-08-11 03:25] x94carbone commented on #45
@mikkokotila I think I'm going to look into this soon. This might be a reasonable intermediate step between what we have now and evolutionary algorithms. Those usually require some heavy firepower hardware wise from what I know. @awhillas, I am not so familiar with Bayesian optimization. Is it less expensive? Any input is welcome!

[2018-08-14 01:23] x94carbone opened #55 "Add hardware accelerator"
Obviously this is something that could be done later on since it is not exactly something I'd expect the average user to use. However, tensorflow/Keras makes it _very easy_ to implement parallel GPU training when available. I already have the code to do this cleanly. Its just a matter of how (and if) to implement this.

In principle this can only be a good thing since tensorflow/Keras `multi_gpu_m

[2018-08-14 15:44] bml1g12 opened #56 "How to use f1 measure for "best" model?"
When I import `from talos.metrics.keras_metrics import fbeta_score` and compile the model with this metric, then run talos with the parameter `reduction_metric="fbeta_score"` the output csv seems to list the the val_acc of the best epoch for val_acc, but only the first epoch's value for fbeta_score. This seems like something is going wrong, as if anything it should be producing the corresponding f

[2018-08-14 16:58] x94carbone commented on #56
Sorry @bml1g12 just co clarify, are you saying the feature in which you input `x_val` and `y_val` does not work properly, and you have to make that change to `y_pred`?

[2018-08-15 01:13] bml1g12 commented on #56
Thank you. Yes having the x_val, y_val functionality is a great addition, as without it I would not be able to use talos. Indeed the values for _val printed by keras seem to be working fine. (The issue is with the data that Talos chooses to save at the end of a parameter. )

Sorry yes I was not very clear, I will clarify:

With the source code unedited, when I ran:
`h = ta.Scan(X_train, Y_train, x

[2018-08-15 18:02] mikkokotila commented on #55
I think this is a really great and important addition. Especially if you have already figured out :) I could take an arrayed Tesla instance from AWS to test it out!

[2018-08-15 18:09] mikkokotila commented on #54
@x94carbone thanks a lot. In terms of the callbacks, could you share some examples for the use-cases. Generally storing the history is of course easy, and it seems that the data size should be totally ok as long as we handle it in an array the right way during, and dump to the df only in the end of the process.

For the displaying stuff I made the whole thing simpler in the way where you have a cl

[2018-08-15 18:19] mikkokotila commented on #56
@bml1g12 To answer the question about reduction_metric first, to do this in your model.compile you have to call fbeta_score (I can see you are doing) as metric. reduction_metric is for purpose of the optimization algorithm (other than random). This should yield what you are looking for.

That said, are you reporting that you had validated that actually this is not the case and instead in your expe

[2018-08-16 01:42] bml1g12 commented on #56
I see so I have it provided with the correct argument at least (albeit `reduction_metric` not being necessary).

Exactly, I instead get seemingly only the first epoch of each permutation (and definately not the "best" fbeta_score). If I understand correctly, the intended behaviour is Talos saves the "best" value of the the metric across all epochs within the permutation to a CSV, usually "accuracy

[2018-08-16 01:55] bml1g12 commented on #56
I would actually like to select based on val_fbeta_score (validation result). Here is an example output for:
[code]

round_epochs | val_loss | val_fbeta_score | loss | fbeta_score | adam_learning_rate | num_filters | gru_hidden_units | dropout_rate | batch_size | epochs | second_GRU_layer
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
10 | 0.5227934398033 | 0.329458241992527 | 0.5339161

[2018-08-16 13:48] x94carbone commented on #54
Nice, that sounds good. By callbacks do you just mean how I manipulate the dataframe to trim columns and that sort of thing?

[2018-08-16 13:52] x94carbone commented on #56
Ah ok I understand now. Glad to know the manual input of validation sets was working properly.

Regarding your last question, this is related to #54 (I think) and I am going to post an easy fix for it. I presume you just want to essentially sort the output dataframe by the `val_fbeta_score`, correct?

[2018-08-16 14:01] x94carbone commented on #54
Well, in case that was what you were referring to, here's the answer. For the current state of Talos:

First, if using a notebook, this will make the output easier for you to deal with.
[code]

Load the data you just ran using Talos, but suppress the output since it's not always going to be clearly formatted depending on some unknown factors.
[code]

Example of removing the columns in `remove_colu

[2018-08-16 14:42] x94carbone commented on #56
@bml1g12 Ah I understand. I believe the output you see is the final epoch's result, so you will not see the result of the first epoch, only the second. Currently to my knowledge we do not save every epoch's results. That said, you can implement early stopping criteria if you want, but I don't recommend it ([neither does Andrew Ng](https://towardsdatascience.com/deep-learning-specialization-by-andr

[2018-08-16 16:57] bml1g12 commented on #56
I see, I misunderstood - I see now it currently selects what to show based on chronology not "best loss/ best accuracy " etc.

So this issue (#56) is then relating to the fact that in my test, it does not produce the last epoch's val_fbeta_score.

(With regards to the statistical average, that seems like a great feature in case you get an anomalous change in model performance the last epoch. I agr

[2018-08-16 18:05] x94carbone commented on #56
Ah. Yeah that's a problem. I will try to look into this when I can. If you have any suggestions as well feel free to comment!

[2018-08-16 18:27] x94carbone commented on #56
The problem is [here](https://github.com/autonomio/talos/blob/d8a2a618f6f783e7afb3bf09f8815a2af8e5a23d/talos/metrics/performance.py#L49) I think. This is precisely what I think @mikkokotila was talking about in #3. The problem it seems is that the F1 score is not implemented at the epoch level. I still need to dig some more to figure out why this is returning the first value for the F1 score and n

[2018-08-17 01:25] bml1g12 commented on #56
Thank you.

I'm not sure it is a problem with F1 score itself, as it produces sensible results from the output of Keras per-epoch, it seems to me that Talos just isn't saving the right value; in a way I could work around this issue by printing all output to the terminal and using `grep` to obtain the last result of each epoch. But I am unfamiliar with the source code so maybe it is something more

[2018-08-17 02:43] x94carbone commented on #56
Ah I'm sorry. You're totally right. The lack of sleep is getting to me! I'll get on this sometime soon when I have more energy.

I'm not sure if Talos is actually using the Keras metric to generate the F1 score you see in the pandas output or if its using its own. This needs to be consistent in the future.

Anyway, I will look into this at some point. I appreciate you bringing this to our attentio

[2018-08-17 03:01] bml1g12 commented on #56
Thank you!

[2018-08-17 19:06] x94carbone opened #59 "Comment the testing suite, especially TestLoadDatasets"
Could use some more detailed comments. @mikkokotila if you let me know what TestLoadDatasets actually does let me know and I can comment the rest. I did write the code for it but only because it was included in the original testing suite. I still am not sure what it does. 😄

Also, are you done refactoring Reporting? I probably should wait until you are before I dig into it right?

[2018-08-18 14:42] mikkokotila commented on #59
The idea for providing the datasets "ready to go" together with the corresponding params (and eventually corresponding models for each) is meant for two things:

- for more robust testing (not feasible with travis) where we validate the results for major releases in a completely standard way

- to give various examples (eventually covering as many typical prediction tasks as possible) so that its

[2018-08-19 11:27] guilhermesilveira opened #60 "Having issues with learning rate normalization"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [X] I'm up-to-date with the latest release:
- [X] I've confirmed that my Keras model works outside of Talos.

-------------------------------------------------------------------------

https://gist.github.com/guilhermesilveira/5e2f3ae4f60a2929897f8ef4da99a73e

The above example shows a sample usag

[2018-08-19 12:12] joel-wilson opened #61 "Need for separate x_val, y_val arguments if-incase doing nested time series cross validation"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [ ] I'm up-to-date with the latest release:

      pip install -U talos

- [ ] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-08-19 13:38] joel-wilson commented on #61
Ignore. Figured out a way. But having customised error metrics/losses is still not handed by utils.py/history

[2018-08-19 21:06] mikkokotila commented on #60
Can you try:

[code]
It should return 0.001 which is the default (1x) learning rate for Adam.

[2018-08-19 21:16] mikkokotila commented on #56
@bml1g12 regarding "A long-shot, but if Talos is set to report the minimum fbeta_score then maybe that is the reason for this bug."

You got it. That's it. There is one hard coded remnant (I hope last one) from the beginning of the package where it takes minimum value unless the word 'acc' is in the metric in the history object. I will fix that ASAP as it's kind of silly. Creating a new issue for

[2018-08-19 21:17] mikkokotila opened #62 "results.py causes some metrics to take the lowest value from history object"
If the metric name does not have word 'acc' in it, the lowest value will be taken.

[2018-08-19 22:04] guilhermesilveira commented on #60
It works, returning 0.001. But:

[code]

Returns 1

[code]

Returns 0.001. It is somehow related to the weird `import` I've used on the first example.

[2018-08-20 08:59] #60 closed

[2018-08-20 09:17] mikkokotila commented on #62
This is now fixed in daily-dev. Closing.

[2018-08-20 09:17] #62 closed

[2018-08-20 09:53] bml1g12 commented on #56
OK I'll give it a try, so I should append "_acc" to any custom metric name, got it.  To clarify, what would be the consequence of not appending _acc? Simply that Talos takes the lowest value I guess?

As long as the documentation explains this, it isn't too unintuitive at least.

[2018-08-20 09:56] mikkokotila commented on #56
@bml1g12 Great :) You are right, the consequence is that it will be treated as a something to be minimized i.e. the lowest value will be given instead. I also considered the possibility of showing min, peak, and max, but that would mean 3 times more columns, out of which in most cases 1 or 2 would be noise.

[2018-08-20 10:17] bml1g12 commented on #56
OK I understand.
x94carbone  said above "I believe the output you see is the final epoch's result".

So I just tested it, and now produces the highest value of the metric across all epochs, but I thought the intended behavior was to select the last epochs value.

Selecting the best value across all epochs can be a little confusing if you have more than one metric, because if one column of the tabl

[2018-08-20 10:24] bml1g12 opened #64 "predict_classes in score_model.py results in AttributeError"
- [ x] I'm up-to-date with the latest release:

      pip install --upgrade --user git+https://github.com/autonomio/talos.git@daily-dev

- [x ] I've confirmed that my Keras model works outside of Talos.

-------------------------------------------------------------------------

When I run

`h = ta.Scan(X_train, Y_train, params=p, dataset_name="debug", experiment_no="1",
            model=keras_nn_

[2018-08-20 12:16] Jakedismo opened #65 "How use Talos with custom model declaration f.ex. model=Model() and not model = Sequential()"
Made some progress and got the scan running, initial problems were due to giving single integers as parameter and the scan was trying to iterate over a list of parameter values, but now I've run to a new error which is caused propably my model declaration (using model = Model(), in examples you use model=Sequential() etc.).
I take predictions from the model this way:

- [ x] I'm up-to-date with th

[2018-08-20 12:30] Jakedismo commented on #65
Blah now I get a CAfile error because Git is trying to use my private repo key

[2018-08-20 12:33] Jakedismo commented on #65
It's roughly the same model as this

from keras.layers import Input, Dense, Embedding, Flatten, Dropout, merge, Activation
from keras.models import Model
from keras.regularizers import l2

[code]
Just slight modifications to return history and model

[2018-08-20 12:52] bml1g12 commented on #56
I see thank you, so current behavior is the intended behavior, and the issue should be closed once the documentation explains the current behavior.

I think an option to show "peak across epochs" or "last epoch" in Scan() would be best. Whatever the case, it would be good if the documentation makes it crystal clear which parameters are stored by default as I think most users would assume each row

[2018-08-20 13:00] x94carbone commented on #59
Ah ok, so the point is just to ensure the datasets load in properly? I'm just curious why they need to be tested.

[2018-08-20 13:04] x94carbone commented on #65
@Jakedismo just to clarify, this is a known issue and is addressed in the version of Talos that @mikkokotila posted. Basically there was a catch-all statement that spit out the error message you're seeing regardless of the error.

If what you posted above is the model function you're trying to import to Talos, it won't work because the arguments are not in the right format.

Also, in a more recent

[2018-08-20 13:08] x94carbone commented on #64
@bml1g12 Yeah you'll get this error right now if you're not using the `Sequential` type model. `predict_classes` only works with that and doesn't work with the functional model. I think what you've done is something of a hot fix that seems to work with some cases but not others. I would be very careful to be sure that `predict` is doing what you want it to! Otherwise, this should be fine.

[2018-08-20 14:13] x94carbone commented on #56
@mikkokotila This is definitely a critical option since the last value is most representative of the final trained state of the model and therefore the best indicator of how the model will generalize to the reported evaluation on the testing set.

Thank you, @bml1g12 for pointing this out. This is not something I would have considered before you mentioning it! I didn't realize this wasn't clear. W

[2018-08-20 18:27] ackRow commented on #64
I was trying to use talos with a Keras Functional Model too but surprisingly Keras didn't implemented the predict_classes function on them.

So I come up with a quick fix using `argmax(self.keras_model.predict(self.x_val), axis=-1)` that worked for me.
(don't forget to import argmax from numpy)

However it seems that it didn't work for everybody, resulting in weird arrays full of zeros.

I finally

[2018-08-20 20:10] mikkokotila commented on #64
This is related with #39 and #42.

My suggestion is that we add an option for those that want to use the above under a parameter experimental_functional_support=True for Scan() which simply uses the above instead of the one that is being used otherwise. We need to keep in mind it's not tested (as in #42 it becomes apparent how this might not work for all cases).

@x94carbone @ackRow what do you th

[2018-08-21 02:01] NTNguyen13 opened #67 "Hyperparameter Optimization for Keras model with large dataset"
Condition Check:

- [x ] I'm up-to-date with the latest release:

      pip install -U talos

- [x ] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Keras model wired for Talos
- Description of extra variables in the model

You can p

[2018-08-21 02:17] bml1g12 opened #68 "Minor issue: broken link"
A tiny issue but the link to the notebook on the readme https://github.com/autonomio/talos/blob/master/notebooks/Hyperparameter%20Optimization%20with%20Keras%20for%20the%20Iris%20Prediction.ipynb is now deprecated, it also linked to on the end of the blog post (https://towardsdatascience.com/hyperparameter-optimization-with-keras-b82e6364ca53)

[2018-08-21 02:50] x94carbone commented on #64
I think this is ok. Sort of a use-at-your-own-risk kind of option. It weird because I see all over the internet people recommending this fix, but it seems for certain kinds of data input it totally breaks everything.

It is kinda crazy that Keras hasn't addressed this issue by now if you ask me.

[2018-08-21 05:07] bml1g12 commented on #64
`y_pred = self.keras_model.predict(self.x_val)` seems to be working for me (I ran a keras run with optimal parameters selected by Talos, and got similar results between the two) .

[2018-08-21 05:32] Jakedismo commented on #65
So I got talos installed from masterbranch have been running to some erros I'm using parameter like this:
[code]
But I keep getting errors like this, atleast from parameters q and l and the datasets. Would really like to try this out before I resort to writing a SGD algorithm for the hyperparameter optimization.

---------------------------------------------------------------------------
TypeError

[2018-08-21 05:33] Jakedismo commented on #65
[code]

[2018-08-21 09:53] Jakedismo commented on #65
`def DAE_CF(x_train, y_train, x_val, y_val, params):
    #model = Model()
    user_input = Input((train_x.shape[1],), name='user_input')
    #model.add(user_input)
    h_user = Dropout(1)(user_input)
    #model.add(h_user)
    #h_item = Embedding(input_dim=I, output_dim=K, input_length=1, W_regularizer=l2(l))(item_input)
    encoded = Dense(50, W_regularizer=l2(params['lr']), b_regularizer=l2(para

[2018-08-21 10:29] timvhamme commented on #65
Same problem here. I have not a Sequential model, but a Model(), a Model has not got a predict_classes(). I;m using Keras 2.2.0

  File "/usr/local/lib/python3.5/dist-packages/talos/scan/Scan.py", line 142, in __init__
    self._null = self.runtime()
  File "/usr/local/lib/python3.5/dist-packages/talos/scan/Scan.py", line 147, in runtime
    self = scan_run(self)
  File "/usr/local/lib/python3.5/d

[2018-08-21 12:11] ackRow commented on #64
I think it's a good idea too. I can try to code that and add an error message when using a Functional Model advising you to use the experimental feature.

@bml1g12 `predict` and `predict_classes` output different arrays (one the probabilities and the other the predicted label of the object to compare with the actual label) so I don't know why it works for you but I think it's not an optimal soluti

[2018-08-21 12:33] kazlink opened #69 "How to get the scan results?"
The scan works just fine for me but I'm not able to get the results. In one of the examples, Reporting class is used to retreive results from a csv but there's no code how to get that csv filled with the scan results.

[2018-08-21 13:33] mikkokotila commented on #69
Depending on the dataset_name and experiment_no parameters in Scan() you are going to get an experiment log for example iris_1.csv and then you have to:

[code]

[2018-08-21 13:42] kazlink commented on #69
Thank you. I have found that file in the working directory.

[2018-08-21 13:42] #69 closed

[2018-08-21 14:11] PTerrier commented on #65
@timvhamme,  I found a solution for this problem: modify the score_model.py file as follows

    from .performance import Performance

    def get_score(self):

    #y_pred = self.keras_model.predict_classes(self.x_val)  # not supported by Model()
    y_prob = self.keras_model.predict(self.x_val)    # supported by Model()
    y_pred = y_prob.argmax(axis=-1)  # return the class
    return Performan

[2018-08-21 15:53] mikkokotila commented on #65
This is related with #39, #42 and #64. It looks like in #64 we've just agreed to add this fix as a parameter into Talos. Should have it pushed to dev over the next few days. The way it will work is to to use:

`experimental_functional_support=True`

...in Scan()

[2018-08-21 15:55] mikkokotila commented on #64
@ackRow that's great, thanks so much. At the moment there are 4 live issues related with this, so it seems like high value target :)

[2018-08-22 10:49] #64 closed, assigned to nobody

[2018-08-22 10:50] mikkokotila commented on #65
This is now [fixed](https://github.com/autonomio/talos/commit/d9b2c0b90d4f749152f0389a559dfd412e0a9e79) in the current dev branch.

[2018-08-22 10:50] #65 closed

[2018-08-22 13:33] mikkokotila commented on #3
@x94carbone sorry, missed this.

The reason for having results of many experiments (regardless of the prediction type) logged has to do with the potential value such data will have for better understanding the a) hyperparameter optimization problem b) optimization the of the hyperparameter optimization process

Yes I've already implemented the fscore etc from Keras backend (old version), but this

[2018-08-22 13:39] mikkokotila commented on #59
I guess that the only concern is where those codes would be changed for some reason, or the file where those codes reside is changed and there is an accident related with that. Or maybe pandas would update and something fundamental would change and things would not work anymore as intended in getting the right data out.

[2018-08-22 13:45] mikkokotila opened #72 "loss names"
The case where the loss is not called 'loss' and something else is in the column header in experiment log, there will be issues with reductions (and anything that is dependent on metric.names).

[2018-08-22 13:47] mikkokotila commented on #56
This is now fixed in `458f973` and is available in dev. Note that as it stands we get the max epoch, so the last round option will have to be implemented separately. Creating a new issue for that.

Big thanks for everyone here. Closing now.

[2018-08-22 13:47] #56 closed

[2018-08-22 13:48] mikkokotila opened #73 "option to allow reporting last epoch metric value"
In the spirit of the discussion in #56 we're going to add a parameter to Scan() that allows choosing if highest epoch metric is reported or the last epoch metric value.

[2018-08-23 16:01] x94carbone commented on #59
Ah ok I understand. Thank you!

[2018-08-23 16:03] x94carbone commented on #67
@NTNguyen13 Indeed it is something being worked on. Just curious: how large is your dataset exactly?

[2018-08-23 16:05] x94carbone commented on #50
Unfortunately, no luck. I think this is a very complicated problem and finding the local minima of the hyperparameter space, so to speak, is not trivial.

On the other hand, there is a way to get reproducible results during development using Keras. What we could do is agree on a "good enough" result as a benchmark, initialize the same way every time to ensure the answer is the same.

[2018-08-23 16:08] mikkokotila commented on #50
I think so. Regarding "good enough" I think that's quite important here >> the goal of an experiment is to find "good enough" model and once a given number of those models is found, the experiment can proceed to the steps we had discussed in #40. For example, somebody training a model for sentiment classification...good enough really can't be more than 90% as even human coders will disagree at abo

[2018-08-23 16:13] x94carbone commented on #50
For sure. And I think for the purposes of unit-checking `Scan` (I'm using the term "unit" quite flexibly here... `Scan` is many units!) I think this will be suitable.

I will consider this my next project here since I can do it more or less independently of `Reporting`. Are all the branches (dev, master, daily-dev) compatible right now and if not do you have a recommended branch to start working f

[2018-08-23 17:48] channhan007 commented on #54
Hi there,
For the format of the output, I don't know why the column names are not in the right order.
Do you guys know how to fix this ?
Thanks
![image](https://user-images.githubusercontent.com/38956603/44542561-099dc180-a6c2-11e8-8b45-957da6b191e3.png)

[2018-08-24 00:41] NTNguyen13 commented on #67
Hi, @x94carbone my dataset has 11000 images, each with 30-40 KB

[2018-08-24 15:27] x94carbone commented on #67
Hmm ok. Does your model work with Keras' `fit` on its own? Without using `fit_generator`?

[2018-08-24 19:59] mikkokotila commented on #54
@channhan007 the whole reporting piece is going to be replaced with a new much cleaner approach that also supports the various use-cases including far better integration with plots. In the meantime for the simple table view, you might just use:

[code]

[2018-08-24 20:00] mikkokotila commented on #50
@x94carbone Great :) I think we should merge dev with master at this point, to make sure all is in sync and then from master to daily-dev. I will create the pr.

[2018-08-24 20:47] NTNguyen13 commented on #67
I tried it with small random data and it works, it didn't work in the real case because of the large dataset

[2018-08-25 16:49] mikkokotila commented on #50
@x94carbone there was some issues in dev that had passed tests, but it's now fixed and dev and daily-dev are in sync and master has nothing new compared to dev.

[2018-08-25 16:58] mikkokotila opened #78 "_talos_ gitter channel"
Created a [gitter channel](https://gitter.im/_talos_/Lobby?source=orgpage). Welcome.

[2018-08-27 09:11] mikkokotila commented on #56
This is handled in PR #80 and also takes care of #73. Thanks again! :)

[2018-08-27 09:12] mikkokotila commented on #73
PR #80 takes care of this.

[2018-08-27 09:12] #73 closed

[2018-08-28 08:16] bml1g12 opened #81 "Question: Is it possible to store result of callbacks e.g. at end of each Talos run?"
Question: Is it possible to store result of callbacks e.g. at end of each Talos run? Or any other such arbitrary python code.

I'd like to write a custom metric which involves some quite complicated operations and simply appending the result of arbitrary python code at the end (or during) a talos parameter-iteration would be very handy.

I started trying to write a Keras metric to do what I want,

[2018-08-28 08:22] mikkokotila opened #82 "EASY CONTRIBUTE: example notebooks for Talos"
Would be great to have several Talos example notebooks with different types of use-cases.

[2018-08-29 07:07] mikkokotila commented on #81
Here is the discussion on Keras issues related with this [[link]](https://github.com/keras-team/keras/issues/2397#issuecomment-416733633)

[2018-08-29 07:08] mikkokotila commented on #81
To clarify, I don't know about the other properties of the model object, but I know that there are issues regarding making predictions with a saved model when the models are created in an iterative process (such as hyperparameter scanning).

[2018-08-30 02:30] bml1g12 opened #83 "Reduction Method not working: AttributeError: 'Scan' object has no attribute '_reduce_keys'"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x ] I'm up-to-date with the latest release:

Using Version: 0.3 from dev branch

- [ x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
[code]
- Talos params dict

[2018-08-30 02:34] bml1g12 commented on #81
Hi @mikkokotila  thanks for your help.  I guess it is not possible currently then. I'll close this question - saving the model or allowing arbitrary callbacks would be a nice feature though, as users might wish to run calculate criteria for model selection which are not easily computed as Keras metrics.

[2018-08-30 02:34] #81 closed

[2018-08-30 17:54] mikkokotila opened #84 "Randomizer() i.e. next level random search"
It looks like possibly the lowest hanging fruit in terms of providing the user with options for the optimization strategy, and improving the results that come from uniform standards, have to do with quasirandom (low discrepancy) sequences.

The issue with uniform random function i.e. pseudorandom function is "clumping" where luck plays an important role. The goal of the quasirandom approaches (e.g

[2018-08-30 18:34] x94carbone commented on #67
So this likely means that there's nothing wrong with Talos at the moment, we've just gotta implement a feature to get `fit_generator` to work. Feel free to let me know if I'm missing something here.

[2018-08-30 19:13] mikkokotila commented on #83
Your reduction_method is 'spear' but that is no longer supported. It's now called 'correlation'. Try that and it should work. Closing here.

[2018-08-30 19:13] #83 closed

[2018-08-30 19:34] x94carbone commented on #50
Ok sounds good. Thanks for clarifying.

Gonna store this here for safekeeping so I know where to look when I have time to work on this.

[Reproducible results with Keras.](https://keras.io/getting-started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development)

[2018-09-01 08:45] mikkokotila opened #85 "stratified sampling to random runs"
Right now the way the random pick is performed, is based on an index number (each index represents a single permutation). We need to have the option (and I think it should be the default option) for multi-column stratification instead.

[2018-09-01 13:56] Geekgurus commented on #19
This Should Help.
Example Solution From My Experience

Configuration
If #tqdm is not already installed, install it with #pip.

pip install #tqdm
Suppose the flyer in question is called flyer, an instance of the class Flyer. Find where flyer is defined in your IPython profile. Something like:

flyer = Flyer(some_arguments)
We can subclass Flyer, customizing its collect method to incorporate a progr

[2018-09-01 13:57] Geekgurus commented on #19
And finally it goes this way 😳

interactively:

class FlyerWithProgressBar(Flyer):

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)  # pass arguments to Flyer
        self.total = 100

    def collect(self):
        yield from tqdm(super().collect(), total=self.total)
Here is a demo of FlyerWithProgressBar.

In [1]: from bluesky.plans import fly

In [2]: flyer =

[2018-09-03 07:00] Jakedismo opened #86 "New error with functional model support with update"
So it just updated the package and got an error, this didn't happen with talos 0.2 so just a heads up

[code]

[2018-09-03 23:47] vascosa opened #87 "Talos scans and custom models showing very different performance"
Hello,

I don't quite understand how Talos is optimizing the Keras models it produces and as such I'm having trouble replicating the results outside of Talos.

I build a Talos model with different parameters did 14 scans, a 0.01 grid downsample. Accuracy results ranged from 68% to 89% (mean 81%), and fmeasures ranging from 0.25 to 0.86 (mean 0.67). The best measures results from

[code]

Then I tr

[2018-09-04 00:34] x94carbone commented on #87
Could you be more specific about how you evaluate the model? The values that Talos reports are of course on the validation data, so the final reported value will be worse since you should be reporting only the values evaluated on the training set.

In other words, your first results, where you took the highest validation data, might not give you as good of a score if you’re reporting the testing d

[2018-09-04 11:19] vascosa commented on #87
Thanks for the quick reply. What I am am trying to do outside of Talos is replicating what Talos is doing but manually. I am currently working with about 10% of my data (derived from fMRI) as I tweak the preprocessing of the data. I used the full 10% as input for talos (with the 80/20 split). I used the exact same data outside of Talos. The only reason I'm doing this is because the sample is small

[2018-09-04 15:41] x94carbone commented on #87
`I think the issue might be with the way I'm replicating the models/scans manually.`

It very well might be. Additionally, looking at your final loss and accuracy, it appears to me that you're over-fitting quite a bit. If this is true, then it is unlikely you're going to be able to produce reproducible results upon training since each time you train you'll be tailoring your model to the training d

[2018-09-04 21:03] mikkokotila commented on #87
Hello @vascosa. In addition to what @x94carbone had shared already, it looks like your model has some differences with the Talos experiment parameters:

- dropout is missing between hidden layers
- shape might be different (at least long_funnel is quite different from 8-8-8-2)
- number of input neurons is different
- kernel initializer is missing

[2018-09-04 21:38] mikkokotila commented on #40
This is a nice article (with a comprehensive collection) on the metrics topic

[What’s WRONG with Metrics?](https://towardsdatascience.com/choosing-the-right-metric-is-a-huge-issue-99ccbe73de61)

[2018-09-05 08:01] mikkokotila commented on #86
Thanks. Closing.

[2018-09-05 08:01] #86 closed

[2018-09-05 08:01] #85 closed

[2018-09-05 08:02] mikkokotila commented on #67
Looks like all clear so closing here.

[2018-09-05 08:02] #67 closed

[2018-09-11 06:56] ruojol commented on #84
Is this allready available in dev branch?

[2018-09-12 09:12] mikkokotila commented on #84
You can get it in daily-dev for now. Most likely will merge with dev this week. The PR is already there, but the tests (basically pep8) suggest that I better clean the code before merging.

[2018-09-13 14:56] mikkokotila opened #91 "option for prioritizing permutations based on compute time"
It seems that compute time is somewhat trivial to approximate permutation to permutation. With this in mind, there should be an option to prioritize  and/or prefer permutations based on computation time (e.g. 2 batch size with 400 epochs might be two orders slower than batch size 80 and 100 epochs).

[2018-09-18 07:32] ruojol opened #92 "How do you run Talos on train on batch data eg. datagenerator"
Hello, how do you run Talos with a datagenerator?
I train my model via this loop:
`or epoch in range(n_epochs):
        user_input, item_input, labels = data_generator(train, p['n_negative'])
        X = [np.array(user_input), np.array(item_input)]
        y = np.array(labels)
        history = model.fit(X,
                            y,
                            epochs=n_epochs,

[2018-09-18 07:49] mikkokotila commented on #92
Is it related with #11 and/or #67?

If you run Talos inside a loop, it basically becomes a loop inside a loop i.e. you are going to have run n experiments for every step in the outer loop you are creating.

[2018-09-18 07:50] ruojol commented on #92
Yeah it's related so I'll just wait for the update or is it available on daily-dev?

[2018-09-18 07:52] mikkokotila commented on #11
@valekar any updates on the generator? This seems to be a popular request :)

[2018-09-18 07:53] mikkokotila commented on #92
Thanks. Keep an eye (or subscribe to) #11. Closing here.

[2018-09-18 07:53] #92 closed

[2018-09-18 07:53] mikkokotila commented on #87
I guess this was resolved so closing here. Feel free to reopen if more information.

[2018-09-18 07:53] #87 closed

[2018-09-18 07:54] mikkokotila commented on #84
Note that Latin improved takes a very long time to, so I'm going to remove that.

[2018-09-18 17:38] ruojol commented on #92
Actually now that I've given it some study it isn't the same exact issue. I'm not doing training on a fit_generator function but rather a train on batch loop, but I can propably reformat the code to use a fit_generator since it's in the roadmap.
ps. tuning hyperparameters for a multi-input model turns out to be a real pain in the ass since Talos is the only package I've found thas supports the ker

[2018-09-18 19:30] valekar commented on #11
@mikkokotila I suppose it is going to take more time for me to complete this functionality as I am stuck up with other work. I would be glad if someone else gives a shot at this functionality.

[2018-09-20 17:49] iofjuupasli opened #93 "Comparison with hyperas"
https://github.com/maxpumperla/hyperas
It seems that heperas is the main competitor for hyperparameter optimization for keras.
Can you please provide in docs some comparison with it, so to better understand what is better suit the specific task.

[2018-09-20 19:30] mikkokotila commented on #93
Thanks, that is a good idea. What do you think are the most important features that hyperas does have, and which ones are important for hyperparameter optimization (with Keras) hyperas does not have?

[2018-09-20 20:38] optidatascience opened #94 "Sparse matrix support"
The current code has a bug when x is a sparse matrix.

Wonder if you can change `len(self.x)` to `self.x.shape[0]` at 3 places: 1 occurrence in scan.py and 2 occurrences in utils/validation_split.py.

Thank you.

[2018-09-20 20:47] mikkokotila commented on #94
Thanks. I will test that nothing breaks from the change and then make it. Will update there once it's pushed to daily-dev.

[2018-09-27 17:03] #48 closed

[2018-09-27 18:14] Manofdesign opened #97 "[FEATURE REQUEST] Interrupted scan to resume where it left off"
Hello,

I wanted see if there was a way to resume a scan from where it left off if it was interrupted?  If that feature does not exist, it would be really awesome.  The scenario I have is an experiment has been running for a few days and made it about 25% in.  Unfortunately it interrupted by something that was my fault and I am wishing I could pick up where it left off.

I am running the version p

[2018-09-27 18:20] mikkokotila commented on #97
Thanks for suggesting this. It is indeed a useful feature, but will require some thinking and testing in terms of implementing it. There are three parts to this:

1) storing in the experiment output the permutation id of each result
2) storing separately the list of all permutation id
3) adding the parameter for turning on "recoverable" mode

1 and 3 are trivial, and maybe 2 could be handled in a

[2018-09-27 23:10] Manofdesign commented on #55
multi_gpu_model in the build_model function using the Keras functional api seems to work just fine in talos.Scan when experimental_functional_support=True.

I got a box with 2 cards and both light up when running, so I thought talos already supported this feature.  Is there some other aspect on this that I am totally missing?

[2018-09-28 02:51] Manofdesign commented on #55
@x94carbone thanks for clarifying.  It definitely works.  I monitor gpu load, gpu memory usage, temp and fan speed on both cards and all measures indicate both are in use.  Multi GPU support is the main feature which lead me to talos.

I was using GridSearch prior, but it seemed multi-gpu on gridsearch failed for me.  I suspect the memory leak issue.  I saw the git version of talos had the method

[2018-09-28 07:54] mikkokotila commented on #55
@Manofdesign

The "allow growth" feature that you mention, is it this one:

gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.333)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

This seems like something we need to add as an option for the user directly from Scan(). I will test next few days and add it.

[2018-09-28 08:20] mikkokotila commented on #55
Would this do it:

[code]

...and we call this in the beginning of the experiment, or if clear_tf_session is set to True, then we do it for every permutation of the experiment?

I'm creating tf_config.py under /utils where similar things would go in the future. So this would be imported as:

`from talos.utils.tf_config import max_gpu_memory`

[2018-09-28 15:29] Manofdesign commented on #55
@mikkokotila Here is the syntax that I used.  This assumes import keras.backend as K called out earlier.
`
gpu_options = K.tf.GPUOptions(allow_growth=True)
K.set_session(K.tf.Session(config=tf.ConfigProto(gpu_options=gpu_options)))

h = talos.Scan(x=x_train, y=y_train,
               x_val=x_val, y_val=y_val,
               shuffle=False,
               params=p,
               dataset_name='Simpl

[2018-10-01 18:40] Manofdesign commented on #55
Confirmed.  I can run 2 separate talos.scan sessions with

[code]

and both run in parallel nearly utilizing full GPU capacity.

It would be awesome if talos.Scan had an N_parallel_jobs option where talos would enable multiple sessions as called out and would feed permutations to the session instance that is ready next.

[2018-10-01 19:06] mikkokotila commented on #55
Thanks @Manofdesign and I agree, this is something we need to take seriously. Would this be something you are comfortable contributing with?

[2018-10-01 19:56] mikkokotila commented on #40
@x94carbone just a heads up that this is moving :) It seems that saving the model does not need any messing around with tf session / graph objects, but we can just save the model as json inside a list in the Scan() object, and the model weights in a separate list in the Scan() object. Then load the model from the json, and set its weights from the corresponding weights. This seems to be the same w

[2018-10-01 21:17] mikkokotila commented on #40
Well well. We have now implemented f1-score based kfold crossvalidation. If you look at /utils/predict the whole thing becomes quite apparent. The workflow is very simple. After you have concluded the experiment with Scan()

[code]
Where 's' is the Scan object, and x and y is the cross-validation data. In this case it's multi-class (i.e. y dims > 1) so average is set to 'macro'.

TODO:

- add data

[2018-10-02 19:07] mikkokotila opened #99 "POD (prepare, optimize, deploy) workflow"
The building blocks start to be in place for a formalized workflow, where Talos is not just software, but a deliberate effort in establishing a workflow that minimize the time from idea to production model. A production model could be something that does a one-off job for a research paper, or something that goes into a live environment with real-time data inputs. Or anything else really. Roughly s

[2018-10-03 14:20] mikkokotila commented on #55
@Manofdesign @x94carbone

As I understand this will be probably the most important think to get right in the roadmap, I'll take a step back and try to dissect.

It seems that here we are talking now about bigger picture of resources use. First, we have two kinds of systems:

- CPU based
- GPU based

This is quite important, as for some prediction tasks (e.g. batch_size tends to be small) even a lo

[2018-10-03 14:32] mikkokotila opened #100 "Support for multi-machine distribution of experiments"
The best way to do something like this seems to be through a GUI of some sort that helps with setting up an experiment in a distributed manner. Initially it could be just for custom setup, but could later evolve to include "integration" with AWS, Google, Azure, etc. I think the most interesting right now in the hardware sense is [VectorDash](http://vectordash.com) because it's 5 times cheaper than

[2018-10-04 04:06] Manofdesign commented on #55
@mikkokotila @x94carbone Will try and respond to multiple comments in this one.  Regarding contributing.  I would be very interested in contributing.  The disclaimer I have to include is that I have <1 year experience in Python and Keras and will likely need some guidance and mentor-ship in some areas such as proper code structure and Keras.

I like the idea of covering various scenarios.  I do wo

[2018-10-05 09:06] mikkokotila opened #101 "contents of the Deploy() assets"
- model.json
- model.h5 (weights)
- a small sample of x
- model hyperparameters

...there is probably an accompanying .txt file with some useful meta-data so that if the package is sent around, it's easy to see what it contains, name of experiment, date, etc.

[2018-10-05 10:48] #78 closed

[2018-10-07 16:16] Manofdesign commented on #55
@mikkokotala I would be happy to test those scenarios.  My multi-GPU box is tied up for a few days running a big experiment, but can run the force_cpu, single job-single-gpu, multiple job-single-gpu scenarios while that is going.  I am working to get Horovod installed and working on multiple machines to work with Keras.  One that is up and running I can make an attempt to look at the Horovod imple

[2018-10-07 16:47] mikkokotila commented on #55
@Manofdesign wonderful, and yes, you could make your own for, and then make PR to daily-dev.

In the meantime, I got myself one multi-GPU system I'm setting up now, in the next 2-3 weeks should be able to have another system (once 2080 Ti is available) which will also have a very high end CPU so it will be a good platform to test various scenarios CPU vs. GPU (as on a system like that the GPU shou

[2018-10-09 08:28] mertensu opened #106 "Talos for regression problem"
I wonder if Talos can be used for regression problems as well. I would like to simply monitor the validation loss for each combination of hyperparameters. When I call `ta.Scan`, I get an error about `predict_classes` (becauce I have a functional model) but even when I use the dev version, Talos is not doing what I expect since it still assumes a classification problem.

Thanks in advance for your

[2018-10-09 14:30] mikkokotila commented on #106
Thanks for posting this. For functional model, have you tried `ta.Scan(functional_support=True)` already?

Regarding regression problems, I will do some testing today and report back. Should definitely have this resolved no later than tomorrow, it's critical that we support regression problems as much as classification problems (even thought they are generally rarer).

[2018-10-12 22:20] mikkokotila commented on #3
Closing this to make way for soon-to-happen inclusion of sklearn.metrics and then gradually making the most important ones available on the Keras backend level for epoch-by-epoch evaluation.

[2018-10-12 22:20] #3 closed

[2018-10-12 22:21] mikkokotila commented on #19
Progress bar had been added some time ago and now available in master as well as pip so closing here.

[2018-10-12 22:21] #19 closed

[2018-10-12 22:22] mikkokotila commented on #37
This was fixed, so closing. Thanks!

[2018-10-12 22:22] #37 closed

[2018-10-13 09:26] mikkokotila opened #111 "TensorFlow optimizers / more generally on optimizers"
It seems that there is a notable speedup just from using `keras.optimizers.TFOptimizer()` and wrapping one of the optimizers in `tf.train` inside it. So for example what would otherwise be:

[code]

Would now become:

[code]

I spent the whole day yesterday working on integrating this in a way where one could just use a string value and then have a switch `tf_optimizer` in Scan() arguments to opt

[2018-10-13 11:34] C0NTRIBUTE commented on #84
It would be nice to be able to input a random function (that takes in a 1-d array of integers obviously) through the random_method argument in scan. That way if the user is already working with random numbers with something like `mlk_random`, they can just use whatever method they like.

[2018-10-14 08:45] giuliohome opened #113 ""Quantum" random?"
How do you implement a quantum random generator? Being quantum is a physical characteristic of the process and it is hard to achieve in practice but anyway it makes sense only when speaking about physics and typically at either experimental or fundamental level.
You can not achieve a true quantum outcome only by means of a classical software code.
Is it really _quantum_ what you _call_ **quantum**

[2018-10-14 10:41] mikkokotila commented on #113
That's right, we're using an API from a lab that produces the quantum randoms mechanically. Here is the description:

You could read more [from the paper](https://journals.aps.org/prapplied/abstract/10.1103/PhysRevApplied.3.054004).

Then this of course leads to the bigger question about using computer to produce random numbers. We are conducting an experiment that might take a year or so, where w

[2018-10-14 10:45] giuliohome commented on #113
Thank you for the prompt response and the longer explanation in the links!

[2018-10-14 10:45] #113 closed

[2018-10-14 10:48] mikkokotila commented on #106
Sorry for the delay. This seems to be now done in the regression branch. It's been tested heavily (some tens of thousands of permutations) using the Kaggle House Pricing dataset. Hopefully I can get it to production so it's available through pip as well.

Thanks again for flagging this.

[2018-10-17 17:00] AAbusnina opened #115 "Scan object has no _y_range attributes"
I am trying to use talos to optimise eras model for regression problem.
My also version is '0.4.3'
my x input shape is (264,4)
my y input shape is (264,1)

Here is y eras model:

[code]
 Here is my param dict:

[code]
and here is the error I am getting:

[code]

Why scan object has no attribute '_y_range'? The tutorial notebook runs smoothly on my machine though.

[2018-10-19 07:34] mikkokotila commented on #115
Could you try the 0.4.4 version which is now available in the dev branch.

[code]
The logging is completely removed from the mainline in the coming feature (this is separate from the results csv actually) so it seems that for some reason some remnants remain in you local version.

[2018-10-24 14:02] AAbusnina commented on #115
Amazing. Now to works!

[2018-10-24 14:02] #115 closed

[2018-10-24 21:49] #106 closed

[2018-10-26 00:34] Kinzerfest opened #119 "TypeError"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [yes] I'm up-to-date with the latest release:

      pip install -U talos

- [yes] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The

[2018-10-26 00:37] Kinzerfest commented on #119
[code]
Sorry here is the way to run it execution.

Also, is this the correct way to implement variable number of hidden layers? I don't think I find it in the documentation

[2018-10-26 15:48] dambuck opened #120 "local variable 'acc_entropy' referenced before assignment"
Hi,

I hope it is appropriate to ask this question here, since I am not able to track the source of the error in my own code. The error occurs after a first scan round.
It is a variational autoencoder.

ofc_binned is the data and is of the shape (84,100,73)
I implemented two outputs only to test the loss_weights argument, because I got a different behaviour than putting both lost functions into on

[2018-10-28 12:29] mikkokotila commented on #119
I think the error is caused by the tuple with value None in your params dictionary (for dropout). Try replacing that with [None] or removing the line all together.

For hidden layers, see [in the corresponding section](https://autonomio.github.io/docs_talos/#hidden-layers) in the user guide. We have a helper function to handle hidden layers. But I think that the way you are doing it as well, might

[2018-10-28 12:32] mikkokotila commented on #120
This is caused by the fact that you use custom loss and there is no accuracy metric. That said, this should have been fixed in the more recent versions (and if it's not, I will do it asap). Could you check your Talos version:

`pip show talos | grep Version`

What do you get?

[2018-10-28 12:39] mikkokotila commented on #55
I ended up spending 2 weeks just on benchmarking to get to the bottom of the matters. I have one system with 2080Ti, one system with 2x1070Ti and then I switched the cards between the machines (so different CPU) and did with both overclocked CPU and not. The results ended up being a lot so it will take time to get it out in some meaningful way. In the meantime, generally speaking CPU is always bet

[2018-10-29 08:59] dambuck commented on #120
I get:
Metadata-Version: 2.1
Version: 0.4.3

I should install the latest dev version then?

[2018-10-29 09:13] mikkokotila commented on #120
@dambuck Thanks. Can you try 0.4.4 which would be then:

[code]
NOTE: you don't anymore need to declare `functional_model=True` in 0.4.4. Also for clarity's sake, I suggest using explicit arguments in Scan() e.g. ta.Scan(model='...') as the input order was slightly changed.

[2018-10-29 09:50] dambuck commented on #120
@mikkokotila Thank you very much! Its working now.

[2018-10-29 09:50] #120 closed

[2018-11-01 09:39] dambuck opened #121 "custom metric and saved models"
Hi,

so working with version 0.4.4 now.

There are a few things which are still unclear to me when using custom metrics and trying to load the saved_models.

    def GRU_test(x_train,y_train,x_val,y_val, params):
        neuron=73
        latent_rep_size=73
        def vae_loss(true, pred):
            true = K.flatten(true)
            pred = K.flatten(pred)
            poisson = 1*objectives.poi

[2018-11-01 12:15] mikkokotila commented on #121
Did you check the user guide in the [corresponding part](https://autonomio.github.io/docs_talos/#predict)? I think the example there will help solve your problem. Also check out the corresponding docstrings for the functions for more.

For the case where for some reason you want to get access to all the models, that is also available through the Scan() object (but I'm guessing that's not what you'

[2018-11-01 12:59] dambuck commented on #121
Thanks for the fast answer.

I already checked it, and I found it weird that predict is listed as part of the Predict command but the manual shows it's use as part of the Reporting command.  Might be an error?

I might be just too stupid but I cant manage  to get the predict command to work, because of the exp activation function... How do I declare this custom object here?

    p = ta.Predict(Gru

[2018-11-01 13:43] mikkokotila commented on #121
How about the example [here](https://nbviewer.jupyter.org/github/autonomio/talos/blob/master/examples/Hyperparameter%20Optimization%20with%20Keras%20for%20the%20Iris%20Prediction.ipynb#7.-Evaluating-Models-with-Evaluate()-), would that help you to get your head around it?

There might be some inconsistency with the information, so I will check into that. Sorry for inconvenience.

Generally speakin

[2018-11-03 15:29] FlorianBury opened #122 "Functional API issue"
Hi,

I just started using Talos because it looked like a practical tool for hyperscans. However, instead of the Sequential() class I prefer to use the functional API. It is my only option given the kind of network that I use to build.

I noticed an error when using the talos module :

`  File "/home/ucl/cp3/fbury/.local/lib/python3.6/site-packages/talos/metrics/score_model.py", line 38, in get_sco

[2018-11-05 14:32] aliceO1993 commented on #41
What is the correct way to input an embedding matrix as an input parameter?

[2018-11-05 14:34] mikkokotila commented on #41
You can do it exactly the way you would do it in a stand-alone Keras model. You don't need to change anything. Note that the model you input to Talos should not include loading pre-trained emebeddings (but that should be done before starting the experiment just once).

[2018-11-06 04:20] chjq201410695 opened #123 "How can I handle the inputs of seq2seq structure"
Since a 'teacher forcing' stype seq2seq has two inputs (encoder_input and decoder_input), so theh shape of my input seems like
                                          ( [encoder_input, decoder_input], decoder_output ),
but the ta.scan(x=x, y=y) just could be feeded ONE input how could I handle this issue.
Moreover, my input shape is 3-D.  like (None, 1, 27) .   the second-dimention -- 1, means o

[2018-11-06 08:05] chjq201410695 commented on #123
Sorry for my mistake. the error just caused by a misuse of a ")". Now, it is runing after I fixed the mistake. So, I close it.

[2018-11-06 08:06] chjq201410695 commented on #123
Sorry for my mistake. the error just caused by a misuse of a ")". Now, it is runing after I fixed the mistake. So, I close it.

[2018-11-06 14:45] awilliamson commented on #122
Can you provide a bit more information about what the setting is? Is this just for Scanning, Deploying, all, etc?
I'm currently using the Functional API (habit from early TF days I guess), and everything is working fine for me.
What versions are you running for Talos, Keras, Tensorflow. GPU vs Non-GPU?

[2018-11-07 10:05] mikkokotila commented on #123
There is no issue with any shape in Talos; if you can use the shape in Keras, you can use the shape in Talos. Did you confirm that your model works in Keras already?

[2018-11-07 10:13] FlorianBury commented on #122
The problem occured with Scanning that uses the score_model module described before. Though I am having issues with Evaluate but not sure why yet.

Python : 3.6.4
Talos : 0.4.3
Tensorflow : 1.5.0
Keras : 2.1.3

[2018-11-07 10:40] FlorianBury commented on #122
Thanks it solved the problem ! However I have another one with Evaluate()...
In my model I defined six output nodes that I want to treat separately :
`    inputs = Input(shape=(x_train.shape[1],),name='inputs')
    L1 = Dense(params['first_neuron'],
               activation=params['first_activation'],
               name='L1')(inputs)
    L2 = Dense(params['second_neuron'],
               activat

[2018-11-07 10:58] mikkokotila commented on #122
How is the output in OUT_1 through OUT_6 different?

[2018-11-07 11:02] FlorianBury commented on #122
Right now they are not, but they might need to be in the future (different activation functions or loss functions).

However if this cannot be implemented, I could define a single output layer of six neuron but never used that before.

[2018-11-07 11:06] mikkokotila commented on #122
For the time being, if they are identical, it seems that you can just use one and everything is fine?

I'm curious, what are you trying to achieve by having 6 output layers on a single model?

[2018-11-07 11:57] awilliamson commented on #122
I imagine it's just a comparative experiment of singular neurons Vs one hot
output. Perhaps for postgraduate study?

On Wed, 7 Nov 2018, 11:06 Mikko Kotila <notifications@github.com wrote:

[2018-11-07 12:14] FlorianBury commented on #122
I am trying to regress on the six bins of a histogram in order to interpolate it between different mass points (particle physics analysis). Here yes I can use a single layer but I wanted to keep some freedom by optimizing the bins separately ... probably overkill anyway.

Also, I have done in the past a regression with outputs from different layers where the problem would appear ... If this happen

[2018-11-07 14:04] chjq201410695 commented on #123
Thanks for response !

Yes, I'm sure it works in keras. You can see that the model was trainning to 7th epoch in talos, and then error appears, which says " Error when checking model : the list of Numpy arrays that you are passing to your model is not the size the model expected."

any other advise? thanks again !

[2018-11-08 16:11] mikkokotila commented on #123
To be clear, when you run the exact same model in Keras you get past the 7th epoch? Also could you repeat the above a few times, and see if it always stops in the same epoch. This does not seem like a Talos issue, but let's make sure to the extent we can. There might be a few steps for us to go through.

[2018-11-08 16:18] mikkokotila commented on #122
I will try to unpack the situation.

- You have a model where the output has 6 possible values
- You want to test different hyperparameters for each output value

Is it correct? If that's the case, then the way you would typically do it is just use Keras as it is intended and one-hot encode your output values into 6 different columns instead of one, and then treat it as a multi-class classificatio

[2018-11-08 16:32] FlorianBury commented on #122
My apologies for not being clear enough.

It is not a classification problem, more a multi-output regression one. Basically I have histograms of six bins for different configurations (invariant masses basically). I want to interpolate this histogram in order to have the distributions (aka these 6 bins) for configurations that I do not know. To do so I use the configuration parameters as inputs and

[2018-11-08 19:33] lgloege opened #125 "integration with` tf.keras`"
Has talos been integrated with `tf.keras`? The following example works fine when I `import keras ...` but fails when I get try to use `import tensroflow.keras ...`.

Here the error I receive:
[code]

Here is my code:
[code]

[2018-11-09 13:40] mikkokotila commented on #125
This happens because by default Talos is clearing tf graph after every permutation. You can turn it off by adding `clear_tf_session=False` to your `Scan() `command. Note that you would have to restart your console/kernel for the change to take effect if you already got the error once.

I'll close here.

[2018-11-09 13:40] #125 closed

[2018-11-09 13:45] mikkokotila commented on #119
Closing here.

[2018-11-09 13:45] #119 closed

[2018-11-09 13:46] mikkokotila commented on #94
I believe this was handled and has made its way to 0.4.4. Closing here.

Thanks again.

[2018-11-09 13:46] #94 closed

[2018-11-09 13:46] mikkokotila commented on #93
@iofjuupasli any suggestions / inputs?

[2018-11-10 12:11] iofjuupasli commented on #93
@mikkokotila no, I'm not an expert in both tools

[2018-11-10 16:32] rahutchinson opened #126 "Working with Predict without saving a file"
Hello,

Using Talos every day for the past week or so. Working with lots of models which I run `predict()` on for validation. I am having an issue trying to find a way to predict without having to create a file. I've got a large core box running 24/7 creating lots of models. I would rather not create so many directories and zips for the models.   I forked and made a quick change to the `deploy()`

[2018-11-10 16:38] rahutchinson commented on #126
Looks like the answer to my question is in utils.best_model with `activate_model()` ?

If this is correct let me know and I can put it in the documentation.

Another solution I was thinking about is a little bit larger refactor with the scan object. Where `scan_object.saved_models` holds the keras models themselves instead being changed to json object.

again either way let me know an I will be ha

[2018-11-12 13:04] awilliamson opened #127 "Talos reporting Lambda memory address - Suggestion"
Currently a parameter dictionary with arbitrary Lambdas simply spits out `Lambda Object <mem address>` for any reporting. This is perhaps not the nicest way of expressing this.

Perhaps a simple approach would be, if there's no decent (defined or otherwise) string conversion to reference them as the parameter entry key, and the index.

So `"my_param_key": [Lambda x: x**2, Lambda x: x**3]` would th

[2018-11-12 13:33] SBNoor opened #128 "Import error: can not import name 'log cosh'"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [] I'm up-to-date with the latest release:

      pip install -U talos

- [ 2] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-11-12 13:40] mikkokotila commented on #128
Can you share the command you run which produces this.

How if you just do:

`from keras.losses import logcosh`

...do you get the same error?

[2018-11-12 14:11] SBNoor commented on #128
So I write

<img width="575" alt="screen shot 2018-11-12 at 15 09 36" src="https://user-images.githubusercontent.com/23297354/48352473-0694ea80-e68d-11e8-8856-a02acdf7df0b.png">

And I'm using it:
<img width="435" alt="screen shot 2018-11-12 at 15 10 25" src="https://user-images.githubusercontent.com/23297354/48352506-1c0a1480-e68d-11e8-88b5-56d9711fc1d5.png">

[2018-11-12 14:47] awilliamson commented on #122
@FlorianBury Yes, F1 Score is for binary classification, and was the wrong metric to be using. :) Glad you got it sorted.

[2018-11-12 15:05] murureddy94 opened #129 "Conv"
Models with Conv2D layers breaks Talos when using dictionary defined activation function "activation= prms['activation']" with error:

    model.add(Conv2D(p['first_neuron'], kernel_size=3, padding = "same", input_shape = input_shape, activation= prms['activation'])))

  ..\keras\legacy\interfaces.py", line 91, in wrapper return func(*args, **kwargs)
 ..\keras\layers\convolutional.py", line 490, i

[2018-11-13 09:37] mikkokotila commented on #127
I guess one simple way to allow a broader ability to have custom labels for parameters would be to support using a tuple as well as just values. So then one might have `[(val1, name1), (val2, name2)] `instead of `[val1, val2]`. I think this would be easy to implement, and might be useful in other cases as well. What do you think?

[2018-11-13 11:17] murureddy94 commented on #129
If I run params on its own to create the dictionary

[code]

I've attached the output which I am receiving. It is not a syntax issue.

![capture](https://user-images.githubusercontent.com/16117015/48410139-a60db800-e735-11e8-88f0-fbbbbf5012c7.PNG)

[2018-11-13 11:20] mikkokotila commented on #129
This line is the issue:

model.add(Conv2D(p['first_neuron'], kernel_size=3, padding = "same", input_shape = input_shape, activation= prms['activation']))
Assuming your input model is in the form of:

def iris_model(x_train, y_train, x_val, y_val, params):

Then the above line needs to be in the form:
model.add(Conv2D(params['first_neuron'], kernel_size=3, padding = "same", input_shape = input_shap

[2018-11-13 11:41] murureddy94 commented on #129
Sorry what was initially written may have caused some confusion. We changed the dictionary name to see if this would be an issue, and we were importing is as a separate file. Whilst testing there was no issues in terms of the dictionary name itself.
[code]

[code]
`('Could not interpret activation function identifier:', [<function relu at 0x000002D8012F0840>, <function tanh at 0x000002D8012F08C8>,

[2018-11-13 11:44] mikkokotila commented on #129
The example you are sharing should not work in any case. Can you see the examples for the format you need to follow in Talos. What is inputted to the input model (in your case build_cnn()) matters.

See a [brief](https://nbviewer.jupyter.org/github/autonomio/talos/blob/master/examples/A%20Very%20Short%20Introduction%20to%20Hyperparameter%20Optimization%20of%20Keras%20Models%20with%20Talos.ipynb) |

[2018-11-13 11:49] murureddy94 commented on #129
I have had the code as the format which was specified, the modification was made as an attempt to understand why it was throwing up an error. This also brings up the same error.

[2018-11-13 11:56] mikkokotila commented on #129
Ok, but I can see clearly from your error message that what happens it that you are passing a value to the model where it is a list, and not a value in a list (as it is if you are passing it correctly). The error message is same in both examples you provided:

`ValueError: Unknown activation function:[<function relu at 0x000002D8012F0840>, <function tanh at 0x000002D8012F08C8>, <function sigmoid a

[2018-11-13 13:21] awilliamson commented on #127
I was thinking perhaps use of a dictionary. At the moment we have Lists for discrete selections, and tuples for ranges. Dictionaries seems to me to be the perfect entry.

E.g
[code]

Enables a check to see if the params values within List are of type dict, then we can go to assign a special label, otherwise it will use __repr__ ?

[2018-11-13 15:29] rahutchinson commented on #126
Nevermind.

[2018-11-13 15:29] #126 closed

[2018-11-13 15:35] mikkokotila commented on #126
Hey, sorry for the delay.

There are several ways to do this. Evaluate() would be one, and then other as you had pointed out would be using best model. As a background for the approach we have for saving models, it has to do with the need to overcome the ambiguities that come with

For documentation, the issue is that it's not enough to make PR and merge, but the whole thing needs to be still buil

[2018-11-13 15:55] murureddy94 commented on #129
Thank you for your help. Working now.

[2018-11-13 16:08] rahutchinson commented on #126
Thanks and I found my solution really in the model_from_json that keras has. Got a bit confusing since Talos is a sudo-wrapper for keras and keras is a wrapper for tensorflow.

Thanks for the help.

[2018-11-14 14:29] SBNoor commented on #128
I tried what  you suggested and I still get the same error. Keras is properly installed because I've implemented neural networks before using Keras with Tensorflow backend. I don't know what is wrong then.

<img width="565" alt="screen shot 2018-11-14 at 15 29 06" src="https://user-images.githubusercontent.com/23297354/48488903-16920300-e822-11e8-85e4-bcd75aededc0.png">

[2018-11-14 14:35] mikkokotila commented on #128
This means the error is coming from your Keras installation for some reason. I would just try:

[code]
...and see if you still get the same error. If yes, then still inside the new_env environment:

[code]

Other than that, because you get the error upon importing from Keras and before anything happens at Talos level, I suggest to post an issue in https://github.com/keras-team/keras/issues.

[2018-11-15 06:57] Liquidten opened #130 "Getting some kind of AttributeError"
Traceback (most recent call last):
  File "talosHyper.py", line 200, in <module>
    experiment_no='1')
  File "/usr/local/lib/python3.6/dist-packages/talos/scan/Scan.py", line 166, in __init__
    self._null = self.runtime()
  File "/usr/local/lib/python3.6/dist-packages/talos/scan/Scan.py", line 170, in runtime
    self = scan_prepare(self)
  File "/usr/local/lib/python3.6/dist-packages/talos/sc

[2018-11-15 10:03] mikkokotila commented on #130
How does your params dictionary look like?

[2018-11-15 15:56] Liquidten commented on #130
p = {'lr': (0.01, 0.1, 1),
         'first_neuron': [4, 8, 16, 32, 64, 128],
         'hidden_layers': [8, 32, 64],
         'batch_size': [5, 10, 15],
         'epochs': [10,15],
         'dropout': (0, 0.50, 1),
         'weight_regulizer': [None],
         'optimizer': [Adam],
         'losses': [binary_crossentropy],
         'activation': [relu, elu],
         'last_activation': [sigmoid]}

T

[2018-11-15 16:08] mikkokotila commented on #130
There seems to be something going on with the input data. Can you get the shape of your input data and give a few rows of 'y' as an example.

[2018-11-15 16:36] Liquidten commented on #130
So I am doing text classification using embedding layers.
input data/X_data shape = (280, 106656)
Y_labels shape= (280,)
X_data = [[  8 138 531 ...   0   0   0]
                       [ 80 139 289 ...   0   0   0]
                       [671 162 310 ...   0   0   0]
                       ...
                      [ 51  29 274 ...   0   0   0]
                      [168  52 168 ...   0   0   0]

[2018-11-16 12:55] anamf opened #131 "Run parameter optimization on Spark"
Hi Team,
Do you have any plan to add some functionality to run this on Spark?
Do you have any recommendation to do the optimization in parallel?
Best,
Ana

[2018-11-16 13:01] mikkokotila commented on #131
Hey :) The current situation regarding parallelization can be best captured from #55 and #100. I think [Horodov](https://github.com/uber/horovod) looks very promising and @manofdesign mentioned that he is looking at implementing it. Multi-machine parallelization is definitely an important development track and it will be important to cover it well.

[2018-11-16 13:49] anamf commented on #131
Many thanks for your quick response.
I will certainly keep an eye on the developments in this line.
When running on a single GPU, is the hyperparameter optimization run on parallel (multi-threaded)? Or is it only the keras model underneath that is optimized?

[2018-11-16 14:16] mikkokotila commented on #131
When you run on a single GPU, there is no option at the moment to split a single Talos experiment in to several threads. What you could do, is use the local parallelism to run several experiments simultaneously with a single GPU.

[2018-11-16 15:37] Liquidten commented on #130
Any feedback?

[2018-11-16 16:03] mikkokotila commented on #130
This can't be the actual y format:

[code]
Can you share the actual python format for the 'y' you input to the model.

[2018-11-16 16:07] Liquidten commented on #130
print(np.array(y_label))
[0 0 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 1 1 1 1 0 1 0 0 1 1 1 0 1 0 1 1 0 1 0 1 0 1 1 1 1 1 1 1
 1 1 0 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 0 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0 0 0 1
 1 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 0 1 1 1 1 0 0 0 0 0
 1 0 0 1 1 0 0 0 0 0 1 1 1 1 0 1 0 1 1 0 1 1 1 1 0 0 0 1 1 1 0 0 1 1 0 1 0

[2018-11-16 16:42] mikkokotila commented on #130
Maybe related with the data being passed to the input model. Can you share your input model and also the Scan() command.

[2018-11-16 19:39] Liquidten commented on #130
def create_model(X_train, X_dev, X_test, y_label, y_dev, Test_label, vocab_size,MAXLEN, params):

    # next we can build the model exactly like we would normally do it
    e = Embedding(vocab_size,150,input_length=MAXLEN)

    model = Sequential()

    model.add(e)
    model.add(GlobalMaxPooling1D())

    model.add(Dense(16, activation=params['activation'],
                    kernel_initializer=

[2018-11-16 20:32] Liquidten commented on #130
raise TalosReturnError("Make sure that input model returns 'out, model' where out is history object from model.fit()")
talos.utils.exceptions.TalosReturnError: Make sure that input model returns 'out, model' where out is history object from model.fit()

So i edited somethings now i am getting this error!

[2018-11-17 11:22] off99555 opened #132 "How do I pass in a list of inputs?"
In most talos code examples, X input seems to be a 2D numpy array.
But in some of my keras models, it requires a list of 2D numpy arrays because my models are not `Sequential`.
Example list: `[numpyarray1, numpyarray2, numpyarray3]`.

It seems that when I try to pass this list to the `ta.Scan` function, things break.

How do I pass in a list of inputs?

Also, I'm not sure if `talos` supports `pand

[2018-11-17 12:00] off99555 opened #133 "AttributeError: 'Model' object has no attribute 'predict_classes'"
- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

I have an error when I run scan. I am suspecting that it's because my model is not Sequential but talos expects it to be Sequential. And it's because my input is a list of numpy arrays, not a numpy array.

Here is the model code (it works and run until the la

[2018-11-17 12:14] mikkokotila commented on #133
In the older version (which I think you are in) you still have to declare that the model is functional through Scan(functional_model=True) but in the latest version (0.4.4) this is no longer needed and you can run both Sequential and Functional models as-is. Can you make sure you have the latest version:

[code]
After that you should not have this problem anymore.

[2018-11-17 12:59] off99555 commented on #133
I have version 0.4.3 from printing `talos.__version__`. Is this still old?

[2018-11-17 13:01] mikkokotila commented on #133
Yes, the issue you are suffering from will be simply resolved by upgrade.

[2018-11-17 13:03] off99555 commented on #133
I typed `pip install -U talos` and here's the output:
[code]
It said that it's already up to date.

[2018-11-17 13:05] mikkokotila commented on #133
That will not work because it will just try to install the latest version from pypi. You have to follow:

[code]

[2018-11-17 13:14] off99555 commented on #132
By support I mean I can input a list of data frames into the Scan function like so `[df1, df2, df3]`.

[2018-11-17 13:15] off99555 commented on #132
So with the new talos version, I can use a list of array now?

[2018-11-17 13:15] mikkokotila commented on #132
You could do it now in the form of [df1.values, df2.values, df3.values] which is exactly the same as [df1, df2, df3] with support for dataframe :)

[2018-11-17 13:36] off99555 commented on #132
Yes. I'm feeding a list of numpy arrays now not dataframe. I just think it would be good if talos is flexible to accept both types of inputs.
Anyway, I tried feeding the list of inputs and here's the output:
[code]
This is the code:
[code]
`X_train_keras` is a list containing 4 numpy arrays. What is the issue here? I've already updated to v0.4.4

[2018-11-17 13:39] mikkokotila commented on #132
Can you input a list of 4 numpy arrays to a Keras model? Have you tried that what you are trying to do with Talos works with a Keras model as a standalone?

Also as a small pointer check the parameter order for Scan() as it changed for 0.4.4. and just in case it's better to use argument names as well the values (e.g. val_split=0.2 good, and params not good).

[2018-11-17 13:42] off99555 commented on #132
It works with standalone keras model. The keras accepts 4 numpy arrays fine.
Also the parameter is correct, I also put named parameter and it still doesn't work.

[2018-11-17 13:46] mikkokotila commented on #132
What is your use-case for passing a list of 2d-arrays as opposed to passing a single 3d-array?

Are the four arrays all of the same shape, and what is the shape?

What is the error message you are getting now (it can't be the same as in 0.4.3 as the functionality is completely changed regarding functional models).

[2018-11-17 13:57] off99555 commented on #132
Here's the shape of each array. 3 of them are 2D but one of them is 1D:
[code]
So you cannot just pass a single 3D array and that's definitely a hack not a solution.
The error above is from version 0.4.4 as I have already printed the version to the notebook in the same session and it said 0.4.4.

I can make this kinda work by sending a numpy array of shape (None, 604) into the Scan function instea

[2018-11-17 13:58] off99555 commented on #132
Here's the model function:
[code]

[2018-11-17 14:04] off99555 commented on #132
Here's how I think the error occurs:
When I give Scan() a list of numpy arrays, and then Scan() will need to split the data into train and validation right?
But a list cannot be splitted easily compared to an array. So I think you need to investigate how you do split when a list is being fed.

[2018-11-17 14:04] mikkokotila commented on #132
That's right, I can see now the error message is from the latest version. What happens there is that Talos tries to perform validation split, but is unable to do it as the input is a list with 4 arrays, so the approach you mention makes sense here. As long as you do the split on numpy array level, this should not make much difference in terms of performance.

To have a better understanding of your

[2018-11-17 14:06] mikkokotila commented on #132
Well, splitting arrays inside a list would be very simple in the sense of treating each array separately. But first I need to understand what is that we're trying to do here (as this is the first time I come across the need to pass arrays inside a list into a single model).

[2018-11-17 14:12] off99555 commented on #132
There are many scenarios where passing a list is important.
Suppose you have a problem of predicting the profession of a person in the picture.
You have picture as the input and luckily, you also have the age and gender of the person along with the picture.
You now need to send 3 information, image, age, and gender to keras. Keras then need to classify whether the person is a programmer or a singe

[2018-11-17 14:30] mikkokotila commented on #132
By the way, once we resolve your case, I think it will make sense to create a notebook example that deals with a typical wave positional prediction case. Generally speaking the optimal Keras way of doing something is far simpler than what the user thinks.

[2018-11-17 14:33] off99555 commented on #132
The difference is also about the abstraction level.
For example, pixel is a low-level but for gender it's quite high level.
This means you can feed the gender at a later layer.

E.g. the image will be convolved and about 2 layers later then you concatenate with gender feature, then connect to dense layer. This cannot be done when you have only one input.

Keras also has example about multi-inputs

[2018-11-17 14:35] off99555 commented on #133
This error is eliminated when I upgrade the version but it's still related to this issue: #132

[2018-11-17 14:35] #133 closed

[2018-11-17 14:50] off99555 commented on #132
Another problem when I Evaluate:
[code]
I use the exact same way of inputting the data. That is feeding the array but now the model expects the list.
[code]

[2018-11-17 14:51] mikkokotila commented on #132
Got it. This is an interesting approach you are articulating, and it sounds relevant to consider. Would it be possible for you to produce the simplest possible example of Keras model and dummy dataset so I can play around with the wave position prediction task. Without any consideration to Talos, just something that works in Keras. I could try and do it later today. Will try a couple of things to

[2018-11-17 14:51] off99555 commented on #132
And when I do feed it the list the model said it cannot do KFold:
[code]

[2018-11-17 14:59] off99555 commented on #132
OK. Another quetsion, after I do the Scan(), how do I access the trained model other than Deploying and Restoring from disk?
I want to evaluate the model myself.
Is there something I can do like `scan.get_best_model().predict(stuff)`?

[2018-11-17 15:12] mikkokotila commented on #132
You could use `best_model()` to identify the id of the best model, and then `model = activate_model(id)` and finally `model.predict(x)`.

You can access it by:

`from talos.utils.best_model import best_model, activate_model`

All the models are stored in saved_models in the Scan() object and weights in saved_weights, so you could also hand pick any based on analyzing the results and then activate

[2018-11-17 15:17] mikkokotila commented on #126
This came up in #133 so posting it here as well. The one-liner to make predictions from the Scan() object is:

`activate_model(scan_object, best_model(scan_object, 'val_acc', False)).predict(X)`

Also note that the reason why the models are saved the way they are, is to avoid an issue in the Keras/TF way of handling the tf graph which basically breaks after the current iteration is done. So the sa

[2018-11-17 15:23] mikkokotila opened #134 "add "predict with best model" to Scan object"
The idea came up in #132 and some other issues previously. This seems to be a simple, yet highly useful addition to the Scan object.

[2018-11-17 15:32] mikkokotila commented on #132
Thanks, I checked it and everything seems to be in place. I'm working on something else at the moment, but most likely later this evening would spend sometime learning about this problem.

Very cool prediction problem you are working on.

[2018-11-17 16:04] rahutchinson commented on #126
Great. Thanks for the explanation. The more I get integrated the more I hope I can provide value to the project!

Thanks again.

[2018-11-19 06:59] renxida opened #135 "Talos does float badly"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [ * ] I'm up-to-date with the latest release:

      pip install -U talos

- [ * ] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The

[2018-11-19 07:07] renxida commented on #135
I hereby confirm that my Talos is up to date, and that my model function works outside Talos : 2

[2018-11-19 14:00] renxida commented on #135
Model function:
[code]

[2018-11-19 14:03] renxida commented on #135
To reproduce problem, run with:
[code]

[2018-11-19 14:04] renxida commented on #135
PS: I know the solution to this problem is to do float-to-int conversion for each parameter supplied to `model_ta()`, but I would like to have talos and not me handle this.

[2018-11-19 14:32] renxida commented on #135
PPS: I just pulled the newest commit on daily-dev

mikkokotila Merge pull request #124 from awilliamson/early_stopper

and the problem persists.

[2018-11-19 14:56] renxida opened #136 "Correlate does not work with metrics that are not named in `metric_names()`"
At

https://github.com/autonomio/talos/blob/01fd639741167d379abc46e8e1846a2b89ea3d99/talos/commands/reporting.py#L55

When a metric name not  in the return value of `metric_names()` is supplied, I get a `ValueError: cannot insert abracadabra, already exists`

A long term solution is to allow talos to infer metric names from the history object.

But for now I would like to change

[code]

to

[code

[2018-11-19 15:53] mikkokotila commented on #135
Regarding the error you are getting, did I gather it correctly and you are able to run the experiment when all the values are ints?

Unfortunately we can't change all floats to ints, as some parameters are floats (like dropout and lr). There could of course be some simple system that converts values to ints if all values are whole numbers in float form. That way there is no possible downside it se

[2018-11-19 15:59] renxida commented on #135
- model_format: I'm dumb. Forgot to include this: (I'll give you a full quote that actually replicates everything)

[code]

- dtype issue: I'm pretty sure the issue is caused by talos though. the thing is this:
   when I provide a single float for l2reg, all the OTHER parameters get changed to float. So things like layer count and number of neurons in the layers. Parameters should have their dtype

[2018-11-19 16:08] renxida commented on #135
https://gist.github.com/renxida/0f708665aeff7bca2fdbbbae9a147462

[2018-11-19 16:14] renxida commented on #135
this is the first time in my lifetime that I got an issue with a label like 'high priority fix' : )

Thanks. It makes me feel incredibly happy about contributing to this project.

[2018-11-19 16:15] mikkokotila commented on #135
Nice. Thanks :)

It seems that you found something interesting there with forced float conversion, this should clearly not happen. I will go through the codes to identify where and how this happens. I changed the name title of issue to reflect our current understanding of it.

[2018-11-19 16:19] renxida commented on #136
Here is a test, run with my modified version of reporting.py
https://gist.github.com/fba8417e04b1c9094bf924db0a2938ec

Here is the same test run with the original
https://gist.github.com/renxida/9e53e1307abd44b33e0984e1ec49937c

[2018-11-19 18:06] mikkokotila commented on #135
When numpy array is created from a list, if the list has ints and floats, it's all converted to floats. If there is also string (and floats and ints) nothing is converted.

So any case where only int and float is present in params dictionary, and as long as there is even a single float, all the values will be converted to float. That's clearly a problem. The issue is created here:

[code]
The fix

[2018-11-19 18:12] renxida commented on #135
Glad I could help.

Over the summer of 2018 I've been doing some hyperparameter searching with a set of scripts I've written. They work, but they're a mess, and I'm looking to migrate everything to Talos, which is superior in that it's better organized.

Expect more issues & PRs from me over the winter break as I perform the migration : )

[2018-11-21 09:59] crzdg opened #139 "Use of Tensorboard"
I try to integrate the Tensorboard in the Talos worflow.
But getting following error,

My code looks like this:

    tensorboard = TensorBoard(log_dir="tensorlogs/{}".format(EXPERIMENT_NAME, defineFolderTensorlogs(params)))
    out = model.fit(x_train, y_train,
                    batch_size=params['batch_size'],
                    epochs=params['epochs'],
                    verbose=0,

[2018-11-21 10:01] crzdg opened #140 "Tuple Range Representation"
I can't find any documentation about how the Tuple represents a range in the the parameter dictionary. Is it as normal: (start, stop, step)?

I'm confused about the examples in the Jupyter Notebooks, what range does (0.1, 10, 10) represent?

[2018-11-21 11:17] mikkokotila commented on #140
The range is (start, stop, steps) so (0.1, 10, 10) represents 10 steps between 0.1 and 10.  I.e. the last value is not length of a single step, but the number of total steps.

[2018-11-21 11:17] #140 closed

[2018-11-21 11:37] crzdg commented on #139
Your Code is not working, also without parameters. Input still

  File "talos_experiment.py", line 108, in definedModel
    callbacks=[TensorBoard()])
  File "C:\Users\Reto\Anaconda3\envs\jass-kit\lib\site-packages\tensorflow\python\keras\engine\training.py", line 1363, in fit
    validation_steps=validation_steps)
  File "C:\Users\Reto\Anaconda3\envs\jass-kit\lib\site-packages\tensorflow\python\k

[2018-11-21 11:52] crzdg commented on #139
With

`force_cpu()`

it is working.

After researching I found following Issue in TensorFlow

https://github.com/tensorflow/tensorflow/issues/11812

Might be a GPU, Memory problem?
As it is a test on my desktop only equipment with 2x GTX 670 could.

Will reply after testing on the rig in a more controlled environment.

[2018-11-21 11:56] mikkokotila commented on #139
It could be also that you have issue with GTX670 as it has compute capability 3.0. Given force_cpu() resolves the issue.

[2018-11-21 11:57] mikkokotila commented on #139
Closing here, feel free to open a new ticket later if you find more issues with TensorBoard.

[2018-11-21 11:57] #139 closed

[2018-11-21 14:13] mikkokotila commented on #132
@off99555 I've made the changes on my local branch to support the case where input is a list of arrays. Because this is in the mainline of the program, it will take a little bit time before it will make its way to production, but I think I should be able to have it in daily-dev in the next few days (if not already later today). Thanks for making the case.

[2018-11-21 14:15] #122 closed

[2018-11-21 14:15] #128 closed

[2018-11-21 14:17] #121 closed

[2018-11-21 15:26] crzdg opened #141 "TensorBoard Histogram"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Kera

[2018-11-21 15:49] mikkokotila commented on #141
Thanks. The "...not an element of this graph" is an issue that I'm not willing to deal with as there is a lot of confusion around it. It is well known that Keras is not handling this, but it needs to be explicitly handled on tf. If Keras starts to support this in some meaningful way, the problem will go away, otherwise I'm afraid not.

What do you want to use TensorBoard for?

[2018-11-21 15:52] mikkokotila commented on #141
By the way, are you aware of:

[code]

It's by no means a replacement for TensorBoard, but it resolves the most important need, which is to be able to watch epoch-by-epoch progress visually.

[2018-11-21 16:30] crzdg commented on #141
No I'm not aware of live
Thanks for this!

Will try to use it.

Just playing around with it. Part of a project I'm doing. Just used it in the manual deployment process. Just tried to fit the actual Model into Talos and discovered this. 🗡
No worries, I will find a way to get to some graphs :D

[2018-11-22 20:02] Kinzerfest opened #142 "name 'rcParams' is not defined error with Reporting()"
Thanks so much for coming here to raise an issue. Please take a moment to 'check' the below boxes:

- [v ] I'm up-to-date with the latest release:

      pip install -U talos

- [ v] I've confirmed that my Keras model works outside of Talos.

If you still have an error, please submit **complete trace** and a code with:

- output of shape for x and y e.g. (212,12)
- Talos params dictionary
- The Ke

[2018-11-22 20:09] Kinzerfest commented on #142
![image](https://user-images.githubusercontent.com/26168327/48920724-27fd8f80-ee60-11e8-9f3f-ac44f0810327.png)

The function high returns but correlate fails to run due to a key error, despite a valid key being present and used in the function above.

[2018-11-24 18:10] 00SteinsGate00 opened #143 "Talos Objects do not exist on Mac OS 10.14.1 with pip 18.1"
Hey there,

this is more of a general problem not specific to any model but just for the record, my model works outside of Talos with Keras and I'm up to date.

On the server that is running Linux (I think some flavor of OpenSuse) Talos seems to work fine but on my machine on Mac OS  10.14.1 nothing's there. Let me explain.

I installed Talos using
[code]
in a virtual environment. Within that envi

[2018-11-24 18:12] mikkokotila commented on #143
Thanks a lot for taking the time to go through the closed issues first :)

Do you have a folder or file named talos in your present working directory?

[2018-11-24 18:16] 00SteinsGate00 commented on #143
Thanks for the quick reply. In fact yes I do, my file was called `talos.py`and I feel incredibly stupid now :D

It failes now on import with `ModuleNotFoundError: No module named 'requests'` but that's something different, maybe a missing pip package, I'll figure that out.

Super sorry  that I have wasted your time for such a stupid mistake.

[2018-11-24 18:16] #143 closed

[2018-11-24 18:51] mikkokotila commented on #143
No worries :) Yes, requests needs to be installed in python3 separately. This is fixed in the 0.4.5 where requests is installed upon Talos installation.

[2018-11-24 19:52] fdon commented on #142
Same problem here: reporting plots not working due to:
'xtick.labelbottom is not a valid rc parameter. See rcParams.keys() for a list of valid parameters.'

name 'rcParams' is not defined

[2018-11-25 18:31] Manofdesign commented on #55
Those results sound very interesting.  Would love to see the details of the TFOptimizer wrapper vs the Keras optimizer in boosting performance.  Any place to see more details of the experiment?

[2018-11-26 10:20] FlorianBury opened #144 "Few (minor) potential improvements"
Hi all,

I started using Talos several weeks ago and really appreciate how easy and helpful it is. However, I came across few ideas that might be interesting (and easy) to implement

1) As far as I know, the best model would be the one that generalizes best. Meaning the one that has the lowest error from the Evaluate() class, rather than the one with the lowest val_loss. I noticed that the Deploy(

[2018-11-26 12:37] 00SteinsGate00 commented on #143
Yeah I figured that and installed the requests library. Thanks again 🙂

[2018-11-27 12:50] frederikfaye opened #145 "How to pass a dict of data?"
I have collected all my data in a `dict` called `data`. This is convenient for me since my model takes multiple inputs, let's call them `x_0, x_1`. I can access these numpy arrays as for instance `data['val']['x_0']` for my validation data of `x_0`, or `data['test']['y']` for my test data of targets.

Furthermore (this shouldn't matter, but let me mention it, so that it is hopefully less confusing

[2018-11-27 17:32] toddpi314 opened #146 "Reporting Data has incorrect column associations to frame"
- [x] I'm up-to-date with the latest release:

      pip install -U talos

- [x] I've confirmed that my Keras model works outside of Talos.

-------------------------------------------------------------------------

I noticed that after scanning a Parameter dictionary, the inner data object of the Reporter has the column/row associations incorrectly ordered in Python 2.7.

For example, something l

[2018-11-27 17:45] toddpi314 commented on #146
This is interesting:

When I prefix the parameters with a key that forces them into the end of an alpha list (`z_`), they correctly show up in the reporting data column arrangement:

[code]

[2018-11-28 13:54] mapmox opened #147 "import talos in closed network"
Hi,

I try to import talos on a machine without network connection, but it hangs while trying to connect to some server
...
File "/home/map/anaconda3/lib/python3.5/http/client.py", line 849, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/home/map/anaconda3/lib/python3.5/socket.py", line 703, in create_connection
    sock.connect(sa)
KeyboardInterrupt

the initial

[2018-11-28 13:56] mikkokotila commented on #147
This only has to do with reporting, and you will be able to do everything else ok even you don't have Astetik (the error is coming from there).

[2018-11-28 14:01] mapmox commented on #147
Ok, thanks for the quick answer!
How can I import talos without network? Since currently its running in a
  urllib.error.URLError: <urlopen error [Errno 110] Connection timed out>
after a very long timeout.

[2018-12-01 12:52] mikkokotila commented on #147
You would have to manually remove importing of `astetik`. You can do that from the main init.py. Then because you have removed it, you have to also remove the line where `Reporting` is imported, as that relies on `astetik`.

I've added this to the next release, it might take a few weeks but after that it should be possible to automatically deal with this.

[2018-12-02 08:07] mapmox commented on #147
Ok, thanks for your help!

[2018-12-02 16:08] mikkokotila commented on #146
You're most welcome :) There was a bunch of chances related with this in 0.4.4 and 0.4.5. Could you [upgrade to 0.4.5.](https://github.com/autonomio/talos/wiki/Installation-Options#install-from-weekly) and see if that resolves your issue.

Related with the ability to get the best_params in a dictionary, it's a good idea to be able to get a list of dictionaries with the best params for human readab

[2018-12-02 16:10] mikkokotila opened #149 "human readable format for best parameters"
As per #146 let's add a list of dictionaries format for best_params in addition to the current (which is for the purpose of feeding it directly into the experiment programmatically).

[2018-12-02 18:16] mikkokotila commented on #145
Thanks a lot for the kind words :) Also, sorry for the delay in coming to this.

As you suggest it is related with #132 and the fix thereof. But your case is different and broader.

**Regarding validation split**, (question 1) currently there is no option to input multiple arrays (which is the #132 case and the fix thereof). But that will deal with just the aspect of being able to pass a list of a

[2018-12-02 18:17] mikkokotila opened #150 "add custom error message to when downsampling ends with < 1 sample"
from #145:

"If grid_downsample is too low a Python IndexError will be thrown. Maybe it would be better to have a Talos error message explaining what is happening"

[2018-12-03 12:54] frederikfaye commented on #145
All right, thank you for the answer!

For now, I think I will try out scikit-optimize, which is hopefully a bit more flexible w.r.t. to inputs, but I will definitely keep an eye on this project in the future.

I think scikit-optimize's approach (as I currently understand it) of not fiddling with the inputs/outputs of the model at all, is nice and simple. There (it seems) you simply define a functi

[2018-12-05 15:48] Umar-Ayub commented on #11
@mikkokotila  are their any updates on this? Could really use this feature for a couple of models I am working on. Also very practical feature for real world use cases

[2018-12-10 00:06] Umar-Ayub opened #152 "Value Error when finetuning a pretrained model. Tensor must be from same graph."
- [* ] I'm up-to-date with the latest release:
- [* ] I've confirmed that my Keras model works outside of Talos.

Hey I am using Talos to finetune a pretrained CNN. I keep getting an error where it says that the input tensor to the finetuning part of the model should be connected to the pretrained model. I have treid multiple variations on this including trying a functional model yet I keep gettin

[2018-12-12 05:23] Tamim-MR14 opened #153 "Plotting Learning Curve for best model found after optimization in talos"
I am trying to plot the learning curve for the best model found after the optimization in talos. Is there a way to do it. If the answer is yes, how can I plot the learning curve?

[2018-12-12 10:52] mikkokotila commented on #153
You can't with Talos. But you can see get a live training plot during the experiment by following the example [here].(https://nbviewer.jupyter.org/github/autonomio/talos/blob/master/examples/Hyperparameter%20Optimization%20on%20Keras%20with%20Breast%20Cancer%20Data.ipynb)

[2018-12-12 10:54] mikkokotila commented on #152
Can you explain what you mean by "finetuning the model". Does it mean that you are making changes to a saved model afterwards? If that's the case, how do you access the model?

[2018-12-12 19:19] Umar-Ayub commented on #152
Hey @mikkokotila , so I am using InceptionResnetV2 with imagenet weights accesible via keras.applications.

The code goes something like the following:

[code]

and then base_model is added to the model inside the fundal_model() function.

[2018-12-12 19:32] mikkokotila commented on #152
Yes, it will definitely fail with any pre trained models. This relates with a known issue in the way Keras handles pre-trained TensorFlow models. I found that the safest way to overcome it is by actually saving a trained model on the disk, and then before using it, loading it.

In case you want to check it out, the related Keras issue is [here](https://github.com/keras-team/keras/issues/2397)

[2018-12-13 15:13] zwep commented on #11
Same here! I am curious about the improvements, or where I might be able to contribute

[2018-12-13 15:43] mikkokotila commented on #11
This is open for contribution, and at least for now will be dependent on that alone.

[2018-12-13 15:44] mikkokotila commented on #152
Closing here. Feel free to re-open if I missed something.

[2018-12-13 15:44] #152 closed

[2018-12-14 12:33] JoshuaMitton opened #154 "Modification to run with multi-output models"
It would be great if possible to allow the option of using multi-output Keras models.

It is currently stated in Scan.py that y should have shape (m, c) where c is the number of classes. This restricts to one output parameter and inputting a multi-output model yields the following error:
~/.local/lib/python3.6/site-packages/talos/scan/scan_prepare.py in scan_prepare(self)
     57
     58     # cre

[2018-12-15 17:36] TianLin0509 opened #155 "How to run a multi-input model with talos?"
I really like talos and I'm new to it.
I wonder if talos  can work at multi-input models, as I failed in my keras model.

The code is really simple as an example
[code]

It can work well without Talos.

Then, following the function Keras model example in github, I rewrite it  as follows:
[code]

Unfortunately, it can't work.
I wonder if I have made some mistakes, or talos just can't support the mu

[2018-12-17 15:34] JoshuaMitton commented on #154
I have updated to the latest development version of Talos and this issue still persists.

The output to my model is as follows:
`    xAge     = Dense(name = 'age', units = 17,
                     activation = 'softmax',
                     kernel_regularizer = l2(params['regage']),
                     kernel_initializer = 'he_normal')(xd)
    xSpecies = Dense(name ='species', units = 3,

[2018-12-17 17:42] mikkokotila commented on #155
Thanks :)

I think the problem would arise here from the fact that x is a list where list items are arrays. What are you trying to achieve by doing it?

[2018-12-17 23:40] TianLin0509 commented on #155
Thank you for your response. as my model needs multiple input, so I want to pass my train data as list to the Scan function. Is it correct? Or how can I do let the multiple input function work with talos? Or can you modify the code I proposed as an example.
Thankyou

[2018-12-19 10:56] mikkokotila commented on #155
It's still not clear for me why you want to input multiple inputs to a single Keras model? Could you explain more about your use-case.

Right now you can't input a list in to Scan().

[2018-12-19 10:57] mikkokotila commented on #154
can you share the CNN_model you are using as input for Scan()

[2018-12-19 11:02] mikkokotila commented on #150
will be added in 0.4.6

[2018-12-19 11:02] #150 closed

[2018-12-19 11:34] mikkokotila commented on #146
I think this should be resolved in the latest version, so closing here.

[2018-12-19 18:41] mikkokotila opened #156 "Preds() - TypeError: can't pickle _thread.RLock objects"
This comes in Mac OS X and might have to do with that.

[2018-12-19 19:16] DrappierTechnologies commented on #130
@Liquidten it be great if you could explain what you edited as have also encountered the `AttributeError: 'Series' object has no attribute 'flatten'` error. Since all my inputs were working fine for training the Keras model I find it strange that talos would throw an error on the input data.

[2018-12-19 19:20] mikkokotila commented on #130
Very sorry for not coming back to this. Thanks a lot for all the inputs also. @DrappierTechnologies can you also share your model, Scan() command, param dictionary and indication for your input data.

[2018-12-19 20:16] DrappierTechnologies commented on #130
Here you go and thanks for the prompt response:
[code]
[code]
[code]
[code]
[code]
Listing all this out has helped me visualize the issue and I seem to think I have found the cause.  The issue is indeed with talos as talos doesn't seem to be able to flatten the pandas Series object y_train. Sending y_train as y_train.values flattens the Series to a 1D ndarray which talos is happy accepting. Do you

[2018-12-20 09:51] mikkokotila commented on #141
How did it go? Did you get TensorBoard working?

[2018-12-20 09:55] mikkokotila opened #157 "Rethink the way hidden_layers work"
Related with feedback in #144 and findings in use, there are several simple improvements that can streamline the way hidden_layers is used. In fact, it could be just a Scan argument ideally.

[2018-12-20 09:59] mikkokotila opened #158 "Add verbosity to reduction process"
from #144 "Maybe some verbosity about the reduction techniques in the scan (few prints saying that x parameter configurations have been removed). I might not be using it correctly but I never know if it has actually been used or not ..."

[2018-12-20 09:59] mikkokotila commented on #144
Thanks a lot for the elaborate feedback :) And sorry I totally forgot to respond to you. Regarding 1, this is now handled in two ways (and will be available in 0.4.6) where you have several new related attributes in the Scan object, and also there is a new command Autom8() that takes you from start of Scan() all the way to predictions and best model.

I appreciate the fact that the hidden_layers a

[2018-12-20 10:00] mikkokotila commented on #144
Closing here as these are now handled/escalated elsewhere.

[2018-12-20 10:00] #144 closed

[2018-12-20 13:50] mikkokotila commented on #145
Related with #132

[2018-12-21 11:33] lawrencechiukj commented on #155
Hi, I also really like to use talos, and I have the same list as input situation here.

And my use-case is from here:
http://nbviewer.jupyter.org/github/jdwittenauer/ipython-notebooks/blob/master/notebooks/keras/StructuredTimeSeries.ipynb

Overall, the idea is that you need to input each of the category features in your data to keras embedding layer to output the embedding matrix for each category

[2018-12-26 10:59] mikkokotila commented on #132
I've looked more into this as well as going through the actual example you had provided, and realized that it's super simple to overcome this by explicitly passing validation data from Scan(). This way you have full control over both datasets, and the error you had posted would not arise. So I've decide not to add this into Talos as a feature.

Regarding the best_model ... check out the scan objec

[2018-12-26 10:59] #132 closed

[2018-12-26 11:17] mikkokotila commented on #147
This is now fixed and will be rolled-out in v.0.4.6. This should be available in daily-dev later today. This needs to be fixed upstream at astetik level for the longer-term. Closing here.

[2018-12-26 11:17] #147 closed

[2018-12-26 11:19] mikkokotila commented on #156
This is related with upstream issue in Keras/Tensorflow [here](https://github.com/keras-team/keras/issues/8343) and [here](https://github.com/tensorflow/tensorflow/issues/11157).

[2018-12-26 11:49] mikkokotila commented on #11
Have anyone benchmarked the performance of using fit_generator() as opposed to fit(). It seems that there are important doubts in this regard. Also regarding the use cases, do I gather it correct that there are two different use cases:

1) data is loaded once and then fit_generator is used
2) data is loaded as-needed while being fed into fit_generator

It seems that the latter potentially solves a

[2018-12-26 12:12] mikkokotila commented on #11
It does look like that whatever is gained in the actual run, is taken up by the process in the end where the results of individual steps are stitched back together. Does somebody have contradicting evidence?

[2018-12-27 00:45] tsu3010 commented on #11
In terms of use case, I personally use it since most data sources I work with cannot be loaded into memory. That's mainly what fit_generator solves for me.

[2018-12-27 12:02] mikkokotila commented on #11
@tsu3010 thanks. Stay tuned, this should progress one way or another now.

[2018-12-27 12:03] mikkokotila commented on #155
Thanks a lot @lawrencechiukj for the great example notebook. I will try to look into this over the next few days.

[2018-12-28 02:56] TelmoAdao opened #159 "Talos grid search freezes after a few assays"
Dear developers,

In advance, thank you very much for making available such useful tool.

Although, I would like to report a strange behavior that I have been experiencing. When I try to use a grid to optimize SGD parameters (lr, decay and momentum - without grid downsample), Talos successfully starts to run several assays but after a few rounds, it just freezes indefinitely. I am using a workstat

[2018-12-29 17:17] awilliamson commented on #127
I can have a look at it. Not sure when I'd get the time with work ramping up in the New Year. Is there an easy way to contact you? I believe I have my e-mail address on my profile if that works.

[2018-12-31 14:31] mikkokotila commented on #11
Can somebody try the current @daily-dev.

The way it works is by making sure that you have the generator function in the same kernel loaded before you load the input model. Then just make sure that the generator accepts x_train and y_train and that's it. So basically you don't have to change anything except use `fit_generator` instead of `fit`. For example, in my case it looks like this:

`out = m

[2018-12-31 17:20] twerkmeister opened #160 "Requirements overwrite tensorflow gpu installation"
- [x] I'm up-to-date with the latest release:

Hi Mikko,

I am running into a problem with the project dependencies. The training session runs inside a docker container on another server. To that end I build a docker container starting `FROM tensorflow/tensorflow:latest-gpu-py3`. However, when I install talos in that container the tensorflow gpu version gets replaced by the cpu version, as that on

[2018-12-31 18:34] mikkokotila commented on #160
Thanks, I think we have to remove tensorflow from the requirements and let the user do install the version they like. Will do that for the next update which is v.0.4.6.

For the time being you can `pip install git+https://github.com/autonomio/talos@daily-dev` (I just fixed it).

Closing here.

Happy new year also!

[2018-12-31 18:41] mikkokotila opened #161 "HAPPY NEW YEAR TO EVERYONE :)"
Thanks so much for all the feedbacks, bug reports and everything else. Talos would not be possible without all your contributions. Thanks so much for being part of the community! :)

**May you and your loved ones have a great new year, may it be auspicious and may there be well-being.**

[2018-12-31 20:30] twerkmeister commented on #160
Wonderful, happy new year to you aswell! 🌟

[2019-01-01 10:58] mikkokotila commented on #15
Sorry for not coming back to this. It's a little bit exotic request, and definitely something would be great to support eventually, but to be frank, it's unlikely to happen unless you would like to take a stab at implementing it (or someone else).

[2019-01-01 11:01] mikkokotila commented on #40
This is now available through Evaluate() and Autom8(). Closing here.

[2019-01-01 11:01] #40 closed

[2019-01-01 11:05] mikkokotila commented on #45
To add some context here. We have several ways to "reduce" the permutation space:

- based on an index number (each permutation has an id)
- based on a value (e.g. batch_size in the permutation is 32)
- based on a combination of values (e.g. batch_size is 32 and optimizer is not adam)

When the mechanism for optimization kicks in, what happens is that some arbitrary process (i.e. some optimization

[2019-01-01 11:06] #52 closed

[2019-01-01 11:10] mikkokotila commented on #55
@Manofdesign sorry for not coming back to you on this. I still did not write a report about it, will try to do it over the next few weeks and share it with you. Closing here as the capabilities have been implemented.

[2019-01-01 11:10] #55 closed

[2019-01-01 12:16] #142 closed

[2019-01-01 12:16] mikkokotila commented on #134
This is now added.

[2019-01-01 12:16] #134 closed

[2019-01-02 17:21] TelmoAdao commented on #159
Dear developers,

Best wishes for this new year!

Yes, i tried to run the examples with success. I was even able to use talos with a short grid of only two lines (fixed LR, fixed momentum and 2 decays for SGD fine-tunning) and everything went just fine. But when I try to expand the parameters increasing the grid to 27 combinations, talos freezes after the fourth or fifth combination (for testing p

[2019-01-02 17:24] mikkokotila commented on #159
Ok, then we start digging :) Can you share with a sample of your data (n=10 is enough), your input model, param grid, and the Scan() command. In case the data is sensitive ie. you can't share it, you could share dummy data with the same format where your model runs successfully without Talos.

[2019-01-03 12:49] FlorianBury opened #162 "Scan and Evalutaion into csv"
Hi, thanks for your answers on #144.

About the first question, I am currently trying to add the result from the evaluation into the csv file. This is because I believe it will be a better way to select the best models when using Predict(). Right now I just open and write the .csv file in my scripts after the scan ... not always feasible ...

You mentioned new available tools in your answer, is th

[2019-01-04 10:17] mikkokotila commented on #162
I will put together an example Notebook for the new features. Will try to do it today.

In the meantime, can you clarify the meaning of "stageout" here. Also, did I gather it correctly that what you are doing now for parallelism, is completely automated?

[2019-01-04 10:18] mikkokotila commented on #162
For the evaluation result to go into csv, I will look into this as well. I think it makes sense to have that as an option as it's consistent with Scan().

[2019-01-04 19:58] KOLANICH opened #163 "Remove dependency checking and dynamic population of install_requires from setup.py"
https://github.com/autonomio/talos/blob/master/setup.py#L28

It is not needed anymore, pip will update libraries only if the update is actually required. Dynamic population of that metadata field results in incorrect metadata differrent for different machines.

[2019-01-05 09:42] mikkokotila commented on #163
Good catch.

[2019-01-05 09:43] #161 closed

[2019-01-06 11:06] mikkokotila commented on #162
Sorry it took a little longer. The below is available in v.0.4.6 (for now in dev and daily-dev) and dramatically streamlines the process of evaluation through cross-validation.

[code]
The above will entail completing an entire pipeline from the scan to evaluation and predictions. The prediction and evaluation results will be added to the scan_object and you can easily export to csv from there if

[2019-01-06 11:35] mikkokotila commented on #130
Sorry guys, this slipped through the cracks.

@Liquidten Did you end up getting things working?

@DrappierTechnologies yes, these two are separate issues, could you post a new one with yours.

In the meantime, I also suggest installing the current dev or daily-dev versions which are v.0.4.6 as many things have been improved in terms of how error-prone Talos is.

[2019-01-06 20:11] FlorianBury commented on #162
Looks much simpler, thanks !

[2019-01-07 11:43] TelmoAdao commented on #159
@mikkokotila, here are the elements you asked for (please, find them attached)!

The main programming lines used to explore Talos features:
[Code.pdf](https://github.com/autonomio/talos/files/2732570/Code.pdf)
[Code.docx](https://github.com/autonomio/talos/files/2732571/Code.docx)

Eclipse console results (freezing at 25% after running a few rounds):
[Eclipse_Console_Result.txt](https://github.com

[2019-01-07 11:48] mikkokotila commented on #159
It seems that you are wrapping Talos experiment inside some kind of optimization function? Is that correct? What are you trying to achieve by doing this?

[2019-01-07 16:48] TelmoAdao commented on #159
Yes, that's right. My aim is to obtain the best parameters among the ones shown in the code (LR, decay, momentum) to then return them as function result. I am aware the "return" instruction is missing; however, talos.Scan(...) frezees at 25% while running optimization over the dataset that I made available, thus preventing subsequent instruction of being executed.

[2019-01-07 17:25] mikkokotila commented on #159
When you say "function" result, do you mean that you want to end up with a function that can do predictions with the best model?

If that's the case, you can achieve the same (cross-validated "best" model and the resulting predictions) in two very simple ways with just two lines of code:

[code]
The above will entail completing an entire pipeline from the scan to evaluation and predictions. The pr

[2019-01-09 10:48] TelmoAdao commented on #159
@mikkokotila, i did not have the opportunity to test it yet, but looks good. I will try your suggestion as soon as possible and I'll let you now the results. Thank you ;)

[2019-01-10 19:04] TelmoAdao commented on #159
I tried your suggestion but the outcome was the same... Talos scan stucks in the 25% of progress :S Should I test something else?

[2019-01-11 10:30] felixriese commented on #146
For me, it is not resolved. I installed the latest talos version this Monday with
`pip3 install git+https://github.com/autonomio/talos@daily-dev`

and unfortunately, the same problem occurs. How can I help to resolve that problem?

[2019-01-11 10:36] mikkokotila commented on #146
@felixriese can you try one of the examples https://github.com/autonomio/talos/tree/dev#examples

Maybe to be safe, create a new environment and try the example then.

[2019-01-11 12:59] felixriese commented on #146
**Troubleshooting example:** It is not working, misses matplotlib and after `pip install matplotlib`, there is an input error `ImportError: Python is not installed as a framework. ...`.

**Guess:** Is it possible that this problem only occurs for functional keras models? It worked with other models before and I am figuring out the difference between these models at the moment.

[2019-01-11 13:08] mikkokotila commented on #146
@felixriese Ah, that script is expecting matplotlib to be installed in the env already. The error you get is a matplotlib error (I guess you are on Mac OSX)?

Can you check the talos version in the env you are using?

Ok, will wait for your update regarding the model. But in the more recent versions there should not be any difference, as we now treat both exactly the same and there are many users

[2019-01-11 13:16] felixriese commented on #146
@mikkokotila Yes, Mac OSX. It says `talos==0.4.5` in the env of the troubleshooting example.

The error occurred on the `tensorflow/tensorflow:1.12.0-gpu-py3`, maybe that helps in the meantime.

[2019-01-11 13:19] mikkokotila commented on #146
As a first measure, can you update to 0.4.6 that is available in dev and daily-dev now. This should not change anything regarding the issue we are tracking down, but it is a good measure nevertheless.

Are you by any chance on Jupyter? If yes, what do you get with:

`print(talos.__version__)`

...because sometimes jupyter uses another python (and different packages) than the env where you launch i

[2019-01-11 13:21] felixriese commented on #146
In my docker, I've installed the latest version `0.4.6` when the problem occurred.

[2019-01-11 13:35] felixriese commented on #146
Dict:
[code]

First 3 lines of the CSV-file:
[code]

The  `Reporting()` is working without error, the output after
[code]
is the dataframe with exactly the structure of the CSV-file. -> The wrong order.

[2019-01-11 14:46] mikkokotila commented on #146
Got it. I think that this is something else than the OP case. I have not seen such error before (I've seen where the column and label is off by one but here that's clearly not the case).

Can you share small amount of data, or data in the same shape / type as the one you are inputting to the model, as well as your Scan command. I will try to replicate this, and try to get this fixed ASAP. I usuall

[2019-01-11 15:55] felixriese commented on #146
**Data:**
* `X_train, X_val': The shape of each datapoint is (256,) with values between 0 and 1 (maybe generate them with np.random.rand for testing) and I train with about 10000 datapoints.
* `y_train, y_val': I perform a classification with 4 classes and I use the LabelBinarizer from sklearn. The y-data therefore has a shape of (4,) with one value 1 and three values 0.

**Scan:**
[code]

What el

[2019-01-11 16:16] mikkokotila commented on #146
Ah, sorry my mistake, I also need the input Keras model of course :)

[2019-01-11 16:42] felixriese commented on #146
I added the model above :)

[2019-01-12 11:58] mikkokotila commented on #146
Thanks for the co-operation. I've tested your model and it produces exactly the right h.data (the Scan() object dataframe) and exactly the right csv.

I'm almost sure there is something in your system that refers to a wrong talos version. If you can create an AWS/google instance, you would be able to verify this easily by running your code there.

Here is the code I've used to generate the data th

[2019-01-12 12:01] mikkokotila commented on #146
Related with this, the most common case I'm aware of is that the model is run on a Jupyter notebook, but the `kernel spec` is messed up. So if you are on Jupyter, then the first thing to do is to make sure that `print(talos.__version__)` yields 0.4.6.

[2019-01-14 12:03] mikkokotila commented on #146
@felixriese Having thought about this a little bit more, it seems that the following progression makes the most sense (escalating from fastest to slowest):

FIRST

1) using the same data generator as I had used, do you get the same issue?

IF YES

2) if you are on Jupyter, do you get 0.4.6 as the version following the above instructions

IF YES

3) share a sample of your actual data (can be with d

[2019-01-15 08:12] AyubQuadri commented on #11
Hello @mikkokotila,

I have taken the latest Daily-dev branch and took MNIST_Fashion dataset, I was able to run the fit_generator function which can be found this repo.
https://github.com/AyubQuadri/HPO-Hyper_Parameter_Optimization-/blob/master/HPO_Fashion_MNIST_generator.py

I have a still the problem of loading the entire images into a numpy array of X as well as Y.

as you can see my current co

[2019-01-15 09:20] basque21 opened #168 "kernel die"
Hi, I have a small dataset which can be trained without problem with any of the combinations of the params separately, but when I try to scan it the kernel it's dieing. I'm trying with all the combinations of keras and tensorflow GPU configs but no one it's working. My dataset is "Train on 3204 samples, validate on 802 samples", and the model summary is like this:
[code]
my params are:
[code]
I'm

[2019-01-15 10:04] #168 closed

[2019-01-15 10:36] egorrevkov opened #169 "Error: Classification metrics can't handle a mix of binary and continuous targets"
Hi, I am having troubles optimizing a CNN model for a regression problem in Talos, and can't really figure out what exactly I'm doing wrong. I was following [this instruction](https://nbviewer.jupyter.org/github/autonomio/talos/blob/master/examples/Hyperparameter%20Optimization%20with%20Keras%20for%20the%20Iris%20Prediction.ipynb) to set it up.

My training and validation data (floats, 50/50 split

[2019-01-15 16:32] felixriese commented on #146
@mikkokotila Sorry for the delay.

**1.** Here are the first three lines of the CSV file resulting from our test code:
[code]

As far as I see it, the problem is replicated.

**2.** I do not use jupyter. I included `print(ta.__version__)` into the test script and the result was `0.4.6`.

[2019-01-15 16:38] mikkokotila commented on #169
Thanks for reporting this. It will be done most likely within the next 24 hour window.

[2019-01-15 18:16] mikkokotila commented on #146
@felixriese thanks a lot. That is really interesting.

I know this does not help with the problem, but to first get out of the way exactly what I had done.

After running the Scan:

[code]
I get:

<img src="https://i.imgur.com/MOPLCB7.png">

The order of columns I get from reading the CSV:

`round_epochs | val_loss | val_acc | loss | acc | conv1_filt | conv2_filt | conv3_filt | conv4_filt | kernel

[2019-01-16 10:45] felixriese commented on #146
Here the screenshot from the terminal:

![talos_screenshot](https://user-images.githubusercontent.com/17081863/51242715-019c3200-1981-11e9-9ccb-8c1fdcc8ef99.png)

As you can see, the problem still exists (e.g. padding). The columns look like that:

[code]

And with Talos, it looks the same (also wrong):
![talos_screenshot2](https://user-images.githubusercontent.com/17081863/51243521-1679c500-1983-

[2019-01-16 10:47] mikkokotila commented on #146
Thanks. What is the Python version?

[2019-01-16 10:50] felixriese commented on #146
As shown in the first screenshot: Python 3.5.2

[2019-01-16 14:34] mikkokotila commented on #146
@felixriese Below I will propose a very simple solution that might just fix this issue for you.

In the interest of transparency, I will also share with you what I know so far. The problem you are suffering from is previously unknown, and it is not the same problem as OP's problem which is shifting of column headers by one (a problem related with older version of Talos).

The line of code that thi

[2019-01-16 14:37] mikkokotila commented on #169
Small update on this.

I've explored the various ways in which we can support:

- binary
- multi_label
- multi_class
- regression

And additionally:

- all sklearn metrics
- any custom metric

Turns out it's a little bit tricky to do this well without any magics (which I believe is important to avoid as much as possible) but I should have an update today or tomorrow.

[2019-01-16 14:39] #162 closed

[2019-01-16 14:43] mikkokotila commented on #159
It depends on the OS you are on, but you can try:

`ta.Scan(...  clear_tf_session=False  ...)`

Generally speaking, also looking at Keras issues where kernels silently die, the issue is caused by resource management (like running out of memory etc). Also some users report that kernel dying is fixed by updating conda (are you on conda?) and/or updating TensorFlow. Also updating cudNN have been repo

[2019-01-16 18:49] mikkokotila commented on #169
I've implemented the support. It's using mae as a metric for regression. Also multi_label and multi_class is supported. Check the Evaluate.evaluate() docstring for full info. You can try it with

`pip install git+https://github.com/autonomio/talos@daily-dev`

Bare in mind that this is still experimental in the sense that it has not been robustly tested with many datasets. That would have to happen

[2019-01-16 20:47] felixriese commented on #146
@mikkokotila

The **print-statement** doesn't give an output or I was not able to produce it correctly.

The **OrderedDict** helps as far as I see it. I tested it several times, the problem occurred without the OrderedDict most (!) of the time and with the OrderedDict it did not occurr. Maybe implementing an OrderedDict in talos might be a fix (since I don't have the time and resources to test it

[2019-01-17 06:05] anthonylauly opened #171 "ImportError: cannot import name '_representation'"
Hi, I have installed the talos by doing :
pip install talos
The installation done successfully. But every time I do :
import talos as ta
I got this error :
ImportError: cannot import name '_representation'

Many Thanks,
Anthony

[2019-01-17 07:55] egorrevkov commented on #169
Thanks for looking in into it and fixing!

The Evaluate.evaluate() method is working now. However, I have a couple of questions, would be really helpful if you could anwser them.

1.
[code]
returns
[code]
What does the output mean exactly? I guess these may be results of the 10-fold cross-validation on my **x_val** and **y_val** data, but which of the models is being tested, the best one?

Also, t

[2019-01-17 08:09] mikkokotila commented on #171
This seems to be related with statsmodels. Check out the information [here](https://stackoverflow.com/questions/50391868/python-3-5-in-statsmodels-importerror-cannot-import-name-representation). Hopefully it helps :)

[2019-01-17 08:13] mikkokotila opened #172 "ingest params as OrderedDict"
Right now there is the very rare case where column labels for output .csv change erratically their order. This fix handles that issue once and for all.

[2019-01-17 08:14] mikkokotila commented on #146
@felixriese

Amazing. That's a huge relief, as the next steps would have become pretty involving :) Yes, I will implement OrderedDict as a default, but I have to first put some time into it as it relates with a key aspect of the mainline problem. It should be ok as it's really just retaining the order of the dict, but still better be safe than sorry. I think that by v.0.4.8 this would be incorpora

[2019-01-17 08:14] #146 closed

[2019-01-17 08:22] mikkokotila commented on #169
Great that you can now use Evaluate.evaluate().

Regarding your questions, there is the issue #149 which will resolve this. I'm moving my reply there so it stays in one place. Closing here as this is resolved.

[2019-01-17 08:22] mikkokotila commented on #149
Basically we need to have a dictionary for the best parameters as opposed to array. Or the array needs to be in the format ['batch_size', 100] so it's human readable. But most likely it will be dictionary.

The more robust way would be to go through scan_object.best_model() or even better yet Evaluate(scan_object) and yield the best_params after those processes but for now that's not supported. Ju

[2019-01-17 09:33] anthonylauly commented on #171
thank you so much. It works well after re-installing the stastsmodels

[2019-01-17 09:33] #171 closed

[2019-01-17 09:34] mikkokotila commented on #171
Great to hear :) Have a nice day as well.

[2019-01-17 10:52] bastianatte opened #173 "IndexError: single positional indexer is out-of-bounds"
import uproot
import pandas
import keras
import talos as ta
from sklearn.model_selection import train_test_split

from keras import layers, models
from keras.models import Sequential
from keras.layers import Dense

f = uproot.open("/path/to/the/root/file/test_func_94_double.root")
tree = f['Merged_Analysis;1']

dataset = tree.pandas.df(["z_pos","trks","spt2","spt","Dr","clos","clos_qdr","clos_tp",

[2019-01-17 11:46] mikkokotila commented on #173
That will not work because what you are doing is you are downsampling a grid of 5 (total possible permutations of your params dictionary) to 10% which means that there are no more permutations left. Remove grid_downsample and you should not get this error anymore.

For the second error, note how your x and y are of different length. They need to both be the same length, otherwise you would get an

[2019-01-17 12:31] mikkokotila commented on #173
These errors have nothing to do with Talos. It's better to ask questions such as this in stackoverflow as there is a large number of people to help you resolve user support issues.

But basically you have to make sure that the length of x_train and y_train are same, and same for x_val and y_val. Whenever you run any model, you have to make sure that your input samples and target samples are of the

[2019-01-17 12:33] bastianatte commented on #173
ok, fair enough.

Many thanks @mikkokotila, you are so kind.

Cheers!!!!!

[2019-01-17 12:34] mikkokotila commented on #173
You're most welcome :) Feel free to open new issues if you hit a snag later. Closing here.

[2019-01-17 12:34] #173 closed

[2019-01-17 16:37] TelmoAdao commented on #159
Wow! It worked! Thanks a lot!

Although, the "evaluate_models" method mencioned earlier is not working. Here is the result:
  File "...\ML\MLTools.py", line 198, in gridSearch_Talos_SGD_TimeBasedShedule
    all_done = talos.Scan(x=X , y=Y, params=p, model=create_model, clear_tf_session=False).evaluate_models(Xval, Yval)
TypeError: func_evaluate() missing 1 required positional argument: 'y_val'

It

[2019-01-18 15:56] #169 closed

[2019-01-18 15:58] mikkokotila commented on #163
@KOLANICH This is done now in daily-dev. Will make its way to master/production soon no doubt. Thanks again and have a nice weekend too. Closing here.

[2019-01-18 15:58] #163 closed

[2019-01-18 16:22] mikkokotila commented on #172
This is now done and will be in daily-dev later today. Closing here.

[2019-01-18 16:22] #172 closed

[2019-01-18 16:30] mikkokotila commented on #99
This has been done since v.0.4.4. Closing.

[2019-01-18 16:30] #99 closed

[2019-01-18 16:31] #93 closed

[2019-01-18 16:32] mikkokotila commented on #130
I believe that these issues are resolved in the latest versions  (> v0.4.4). Closing here. Feel free to reopen / create new issue if anything.

[2019-01-18 16:32] #130 closed

[2019-01-18 16:34] mikkokotila commented on #154
I think this needs to be handled together with #145 and #155.

[2019-01-18 16:39] #156 closed

[2019-01-19 08:48] mikkokotila commented on #136
Thanks a lot for this. Sorry I missed and when I saw your PR many merges has passed and some conflicts were created. I think your idea for just inferring from history object is a perfect one. I will explore it later today.

[2019-01-19 11:34] davide1993 opened #175 "reproducible results"
I don't know how to get reproducible results with talos. I run a scan whit some params and If run the test with the same params I get the same file results.csv and that's ok. Now if I want to get the best model from the results file.csv I pick up the params from csv file and run the scan agasin  (only 1 permutation in this case) but the results are different from before. Moreover,  when I try to r

[2019-01-19 13:01] mikkokotila commented on #175
Firstly, whenever you train a model, you will get variation, because deep learning is not deterministic.

Regarding your use case, Talos provides several possibilities in terms of getting the best model as a result of cross-validation. The easiest is to just use the `scan_object.best_model()` if all you want to do is get the best model of the Scan() results. You don't ever need to go to the csv, t

[2019-01-19 16:02] davide1993 commented on #175
I've allready tried Deploy but when I restore the object I think something goes wrong:

- deploy.results does not contains the whole results dataframe  of the previous scan but only the first and second row of dataframe (of course I check the file stored and is ok, the problem is  when restoring).

- hidden layer's array of restored object contains more Dense element that the best model has

I don

[2019-01-19 16:58] mikkokotila commented on #175
@davide1993 I can see from my email that you replied, but I can't see the reply here. Did you delete it?

[2019-01-19 17:05] davide1993 commented on #175
yes because I find now an error in my code.
If I have the same problem after fixed this I'll tell you, thanks.

[2019-01-19 17:48] mikkokotila commented on #175
That's great :) Closing here. Feel feel to open a new issue in case something comes up.

[2019-01-19 17:48] #175 closed

[2019-01-19 19:15] davide1993 opened #177 "reproducibleResults"
I use these instructions reported in keras documentation to get reproducible results:
https://keras.io/getting-started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development

As you can see multithread have to be disable but this slow down the training too much. My goal is to run a long test with talos and save different models: the best model for each metric. I think with Deplo

[2019-01-19 19:16] mikkokotila commented on #177
That's right.

[2019-01-19 20:18] davide1993 opened #178 "how to evaluate model/s from scan_object?"
Wich validation method is used to evaluate the scan object? In Evaluate class I can perform k-cross-fold validation, but I don't find anything about scan object

[2019-01-19 20:48] mikkokotila commented on #178
cross validation is performed with f1_score binary for binary average for binary, and macro for multi-class and multi-label. MAE for continuous but we are working on our own metric "distribution of absolute error" so that might become the default. But you have to be on >=v.0.4.7.

You might find the docstring regarding this (in v.0.4.7) useful.

[code]
Take a look at the [source code](https://gith

[2019-01-19 20:49] mikkokotila commented on #178
To add here that the next step for evaluation is the ability to input custom evaluation metrics or at least to choose from any of the sklearn ones.

[2019-01-20 07:06] davide1993 commented on #178
Sorry I did not explain well, which metrics is uses here for evaluation:
[code]
if k-cross-fold validation is performed wich is the value of k?

[2019-01-20 08:07] mikkokotila commented on #178
Scan(...) does not involve cross-validation directly. x_val and y_val are treated with whichever metric you choose in your Keras model. So anything that Keras support and you set. Then  when you pick best model later, you will use that model to pick the best model, and only then cross-validation is performed.

[2019-01-20 08:19] davide1993 commented on #178
So the results reported in csv file like val_loss, val_acc, val_recall_acc.... are performed on x_val and y_val right? it's not correct here to pass the test set as I write in the previous answer, the test set have to be used after picking up the best model, then perform evaluation on that model with k-cross-validation am I wrong?
[code]

then evaluation on test set:
[code]

[2019-01-20 08:50] davide1993 commented on #178
i've got little dataset so I decide to split in 60% training, 20% validation and 20% testing. Maybe is not the perfect size, but with small dataset my model need data to train . Reasonably I think this is a quite god choice. When I try to evaluate with a different metric than 'val_acc' for example 'val_loss' as below
[code]

i get :  59.81% (+/- 14.81%)

1. why I get  a percentage?

2. what (+/- 1

[2019-01-20 13:55] mikkokotila commented on #178
1) it's the % of correct predictions i.e. your models is right 60% of the time
2) it means the standard deviation of the folds i.e. your cross-validation folds have std of 14.81%
3) yes you have to get on with the latest version:

First or good measure:
`pip uninstall talos`

Then:
`pip install git+http://github.com/autonomio/talos@dev`

OR

`pip install git+http://github.com/autonomio/talos@daily

[2019-01-20 18:52] aclyde11 opened #179 "ValueError in the middle of an experiment with custom metric"
After completing 16 runs of ~500, I get this strange value error. I have defined an r2 metric function which works with any of my Keras models. I cannot figure out this strange error. If I checked the log csv, all prior runs have been logged correct and have seemingly correct numbers.

[code]

[code]

[2019-01-20 18:57] mikkokotila commented on #179
It refers to line 181 in RnaToSnpGridSearch.py. What's happening there?

`File "/raid/aclyde11/Benchmarks/Pilot1/RNAseqToSnp/RnaToSnpGridSearch.py", line 181, in snp_snp_gridsearch`

[2019-01-20 19:09] aclyde11 commented on #179
I included the functions above, which is ta.Scan(). The error is happening in Talos
  File "/home/aclyde11/scratch-area/Benchmarks/venv/local/lib/python2.7/site-packages/talos/reducers/reduce_prepare.py", line 22, in reduce_prepare
    self.param_table.insert(0, self.reduction_metric, self.data[self.reduction_metric])

[2019-01-21 09:04] mikkokotila commented on #179
Can you try without statistical reduction i.e remove from your Scan() the following:

[code]
Let's see if that works, which will identify the source of the problem to have to do with the way a custom metric would be handled in reduction (which is very likely the only issue here. That should be easy to fix.

[2019-01-21 13:19] aclyde11 commented on #179
I ran this, but it caused the reporting results to be off. When I run without any custom metrics it seems to work fine.

[code]

produced a table where all the headings are wrong:
[code]

[2019-01-21 14:34] davide1993 opened #180 "ValueError: ('Some keys in session_kwargs are not supported at this time: %s', dict_keys(['lr']))"
why if I use lr_normalizer into compile I get the error in the title?
Whitout it everithing works

[code]
output:ValueError: ('Some keys in session_kwargs are not supported at this time: %s', dict_keys(['lr']))

[code]
works

[2019-01-21 19:06] mikkokotila commented on #180
See from the [corresponding section in the docs](https://autonomio.github.io/docs_talos/#lr-normalizer) for how to use lr_normalizer. It will not work in the way you are trying to call it now. Also note that you will have to have the actual optimizer function e.g. `adam` and not string` 'adam' ` as you are basically doing `adam(lr_normalizer...)` because Keras only supports setting learning rate d

[2019-01-21 19:10] mikkokotila commented on #179
See #146 as it's resolved and probably the same issue you are having. The fix is very simple, wrap params inside `OrderedDict` from after `from collections import OrderedDict`.

Also do make sure that you get 0.4.6 or 0.4.7 `from print(talos.__version__)`.

Let's see where that lands you :)

[2019-01-21 19:11] mikkokotila commented on #178
Closing here.

[2019-01-21 19:11] #178 closed

[2019-01-21 19:11] mikkokotila commented on #177
Closing here.

[2019-01-21 19:11] #177 closed

[2019-01-21 19:42] davide1993 commented on #180
[code]
now output:

[code]

[2019-01-21 19:44] mikkokotila commented on #180
What is inside `params['optimizer']`?

[2019-01-22 08:15] davide1993 commented on #180
[code]

[2019-01-22 08:41] mikkokotila commented on #180
It is because your optimizers are in the wrong form. You have to do:

`'optimizer': [Adam, Nadam, RMSprop]`